<div class="container-fluid d-flex flex-column h-100">
  <ng-container *ngLet="$user | async as user">
    <div class="d-flex flex-column user-container">
      <h4>Аккаунт</h4>
      <div class="d-flex flex-row mt-2">
        <div class="user-avatar">
          <img [src]="user.avatar" [alt]="user.username">
        </div>
        <div class="d-flex flex-fill flex-column">
          <b>{{ user.username }}</b>
          <span>{{ user.main_group | role }}</span>
          <span *ngIf="user.main_group !== user.secondary_group" class="text-muted">
            <small>{{ user.secondary_group | role }}</small>
          </span>
        </div>
        <button (click)="openAccountSettings()" class="user-profile btn btn-light justify-self-end align-self-start">Настройки профиля</button>
      </div>
    </div>
  </ng-container>
  <div class="separator"></div>
  <form [formGroup]="settings" (change)="setup()">
    <div class="d-flex justify-content-between align-content-center mt-2 mb-2">
      <div class="">
        <h6>Сворачивать в трей</h6>
        <small>Прятать LARS в трей при закрытии приложения</small>
      </div>
      <label class="switch" for="checkbox2">
        <input formControlName="tray" type="checkbox" id="checkbox2" />
        <div class="slider round"></div>
      </label>
    </div>
    <div class="d-flex justify-content-between align-content-center mb-2">
      <div class="">
        <h6>Количество подгружаемых строк</h6>
        <small>Определяет размер загружаемого чанка со строками</small>
      </div>
      <div class="select">
        <ng-select [items]="chunkSizes"
        bindLabel="val"
        formControlName="lineChunk"
        [searchable]="false"
        [clearable]="false"
        bindValue="val"
        (change)="setup()"
        class="custom">
      </ng-select>
      </div>
    </div>
    <div class="separator"></div>
    <div class="d-flex justify-content-between flex-row flex-wrap align-content-center mb-2">
      <div class="">
        <h6>Стиль текстового редактора</h6>
        <small>Стили подсветки синтаксиса текстового редактора</small>
      </div>
      <div class="styles d-flex flex-fill align-items-end">
        <div class="d-flex w-100">
          <ng-select [items]="textHighlight"
            bindLabel="val"
            formControlName="textEditorStyle"
            [searchable]="false"
            [clearable]="false"
            bindValue="val"
            (change)="setup()"
            class="custom">
          </ng-select>
        </div>
      </div>
    </div>
  </form>
  <div class="w-100 listing-preview">
    <ngx-codemirror
    [ngModel]="textplain"
    [options]="codemirrorSettings"
    ></ngx-codemirror>
  </div>
</div>
