:host {
  font-size: 13px;
  transition: 0.2s linear;
  background: #3d3e4a;
  .loading-trigger {
    height: 3px;
    background: linear-gradient(to right, red, orange);
  }
  .list-empty {
    width: 100%;
    height: 100%;
    h4 {
      font-weight: 300;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  .line-process {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .block-screen {
    position: fixed;
    top: 85px;
    left: 75px;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: 1;
  }
  .legacy {
    font-family: monospace;
    font-size: 14px!important;
    line-height: inherit!important;
    border-bottom: 1px dashed #fdfdfd30;
    margin-bottom: 0px;
    margin-top: 0px;
    .legacy-process {
      color: #feffc8;
    }
    .legacy-nickname {
      font-weight: 600;
      color: #76c570
    }
    .legacy-id {
      color: #92beff;
    }
    .pre {
      white-space: pre;
    }
    pre {
      color: #fdfdfd;
      margin-bottom: 0px;
      white-space: pre-wrap;
    }
  }
  .logline {
    border-bottom: 1px solid #0000000f;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: .05s linear;
    .text-dashed {
      transition: none;
    }
    cursor: pointer;
    background: #3d3e4a;
    &:hover {
      background: #393a46;
    }
    .line-id {
      font-size: 10px;
      opacity: 0.7;
    }
    .nickname {
      color: #fff;
    }
  }
  .expanded {
    font-size: 14px!important;
    line-height: inherit!important;
  }
  .banned {
    background: #dc354520;
  }
  .loader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    z-index: 100;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      right: 0;
    }
  }
}
