@import 'scss/colors';

:host {
  .btn {
    margin-right: 5px;
  }
  .counter {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    top: 6px;
    fa-icon {
      position: relative;
      top: 1px;
    }
  }
  .head {
    padding-top: 8px;
    padding-bottom: 8px;
    max-height: 50px;
    button[type="submit"] {
      border: 1px solid $clr-formcontrol;
    }
  }
  .head, input, button {
    font-size: 13px;
  }
  form {
    input, button {
      font-size: 13px;
    }
  }
  .btn-dark {
    font-size: 13px;
    background-color: transparent!important;
    border: none;
    transition: 0.1s linear;
    &:hover, &:active, &:focus {
      background-color: rgb(0 0 0 / 30%)!important;
    }
    &:disabled {
      background-color: rgb(0 0 0 / 30%)!important;
      opacity: 0.5;
    }
  }
  .dropdown-menu {
    margin-top: 12px;
    border-radius: 3px;
    max-width: none;
    width: auto;
    &::before{
      position: absolute;
      z-index: 1000;
      top: -20px;
      left: 10px;
      width: 0px;
      height: 0px;
      content: '';
      border-bottom: 10px solid #2E2F39;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}
