<header class="col-12">
  <div class="row head">
    <div class="col-8 pl-0">
      <div class="row">
        <form [class.col-12]="quick" class="col-8" [formGroup]="searchForm" (ngSubmit)="sendQuery()" autocomplete="on">
          <div class="input-group">
            <input name="quest" type="text" class="form-control shadow-none align-middle input-dark" placeholder="Введите ник игрока или серийный номер" [formControl]="query"/>
          </div>
        </form>
        <div *ngIf="!quick" ngbDropdown class="btn-group" role="group" aria-label="Filter group with nested dropdown">
          <button class="btn btn-dark" name="filter" id="dropdownFilter" ngbDropdownToggle><fa-icon [icon]="fa.filter"></fa-icon></button>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownFilter">
            <filter></filter>
          </div>
        </div>
        <button *ngIf="!quick" class="btn btn-dark" (click)="sync()" name="sync" [disabled]="api.loading || api.lazy"><fa-icon [icon]="fa.sync"></fa-icon></button>
      <ng-template #tipContent let-greeting="greeting">Количество загруженных строк<br /> <small>Размер чанка: 100</small></ng-template>
      <div *ngIf="!quick" class="counter no-select" tooltipClass="light-tooltip" [ngbTooltip]="tipContent">
        <kbd>{{lineCounter}}</kbd>
      </div>
      </div>
    </div>
  </div>
</header>
<ng-template #error>
  <div class="d-flex flex-row">
    <div class="d-flex toast-icon">
      <fa-icon [icon]="fa.err"></fa-icon>
    </div>
    <div class="d-flex flex-fill toast-text">
      <span>
        ОШИБКА: Запрос должен состоять более чeм из 3 символов
      </span>
    </div>
  </div>
</ng-template>
