<header class="container-fluid g-0 align-items-center h-100">
  <div class="head">
    <form (keyup.enter)="sendQuery()" class="d-flex flex-row" [formGroup]="searchForm" (ngSubmit)="sendQuery()" autocomplete="off">
      <div class="input-group">
        <input toFocus formControlName="query" name="query" type="text" class="form-control shadow-none align-middle input-dark" placeholder="Введите ник игрока, IP или связку серийных номеров"/>
        <div *ngIf="!quick" ngbDropdown class="d-inline-block ps-2">
          <a ngbDropdownToggle class="date btn btn-dark" placeholder="Промежуток времени"><fa-icon [icon]="fa.calendar"></fa-icon></a>
          <div class="big-drop" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="w-100 date-dropdown">
              <fa-icon [icon]="fa.calendar"></fa-icon><span> Ограничение по дате</span>
            <hr>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">От</span>
                </div>
                <input  [ngClass]="{
                  'is-invalid': searchForm.controls['dateFrom'].invalid && (searchForm.dirty || searchForm.touched) && searchForm.controls['dateFrom'].value,
                  'is-valid': searchForm.controls['dateFrom'].valid && (searchForm.dirty || searchForm.touched) && searchForm.controls['dateFrom'].value
                }" formControlName="dateFrom" name="dateFrom" type="text" class="form-control" placeholder="01 Jan 1970 00:00:00" aria-label="dd.mm.yyyy" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">До</span>
                </div>
                  <input [ngClass]="{
                    'is-invalid': searchForm.controls['dateTo'].invalid && (searchForm.dirty || searchForm.touched) && searchForm.controls['dateTo'].value ,
                    'is-valid': searchForm.controls['dateTo'].valid && (searchForm.dirty || searchForm.touched) && searchForm.controls['dateTo'].value
                  }" formControlName="dateTo" name="dateTo" type="text" class="form-control" placeholder="01 Jan 1970 00:00:00" aria-label="dd.mm.yyyy" aria-describedby="basic-addon2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!quick" class="d-flex flex-row pe-2">
        <button (mouseenter)="newLineCounter = 0" [attr.data-newlines]="newLineCounter" class="btn btn-dark" (click)="sync()" name="sync" [disabled]="loading || lazy"><fa-icon [icon]="fa.sync"></fa-icon><i *ngIf="newLineCounter !== 0" class="bg-danger text-light new-line-counter">{{newLineCounter}}</i></button>
        <button class="btn btn-dark" [routerLink]="['/home/search']" name="sync"><fa-icon [icon]="fa.hist"></fa-icon></button>
        <ng-template #tipContent>Количество загруженных строк<br /> <small>Размер чанка: 100</small></ng-template>
        <div class="counter no-select" tooltipClass="light-tooltip" [ngbTooltip]="tipContent">
          <kbd><fa-icon [icon]="fa.vsquare"></fa-icon> {{lineCounter}}</kbd>
        </div>
      </div>
    </form>
  </div>
</header>
