@import "colors";
h6 {
  margin-bottom: 0em;
  font-weight: 700;
}
small {
  opacity: 0.7;
  line-height: 10px;
  position: relative;
  bottom: 3px;
}
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
    input {
      display:none;
      &:checked + .slider {
        background-color: #66bb6a;
      }
      &:checked + .slider:before {
        transform: translateX(26px);
      }
    }
  }  .slider {
      background-color: $topper;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
      &:before {
        background-color: $text;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
      }
      &.round {
        border-radius: 5px;
        &:before {
          border-radius: 5px;
        }
      }
    }
