<ng-container [ngSwitch]="setTemplate()">
  <ng-template *ngSwitchCase="'BAN'">
    <div class="bancard w-100 bg-{{ process.type }}">
      <div class="bancard-head">
        <small
          >Выдан администратором <u>{{ content.op }}</u> </small
        ><span class="badge bg-dark ml-1">{{ content.oid }}</span
        ><br />
      </div>
      <div class="bancard-body">
        <small>{{ content.time }} {{ content.message }}</small
        ><br />
        <small>{{ content.message | rules }} </small>
      </div>
    </div>
  </ng-template>
  <ng-container *ngSwitchCase="'AUTH'">
    <div *ngIf="content" class="user d-flex flex-row flex-fill align-items-center w-100 bg-{{ process.type }}">
        <ng-container *ngIf="content.auth as user;">
          <div class="d-flex">
            <img [src]="user.avatar" [alt]="user.username"/>
          </div>
          <div class="d-flex align-items-center">
            <a class="text-light" (click)="userLink(user.id)">{{ user.username }}</a>
            <span class="badge bg-dark">{{ user.id }}</span>
          </div>
          <div class="d-flex flex-fill overflow-hidden ms-2">
            <small class="user-group w-100">
              {{ user.main_group | role }}
            </small>
          </div>
        </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'DEATH'">
    <div class="message-container">
      <span
        ><fa-icon class="me-2" [icon]="fa.faSkullCrossbones"></fa-icon>
        {{ content.op }} <kbd>{{ content.oid }}</kbd> {{ content.message }}
      </span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'CN'">
    <a
      class="btn btn-small btn-dark text-left cn"
      [routerLink]="['/home/search']"
      [queryParams]="{ query: 'cn:' + content.cn }"
    >
      <fa-icon [icon]="fa.faSearch"></fa-icon>{{ content.cn }}
    </a>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="message-container">
      <span>{{ content.time }}</span>
      <div *ngIf="content.message" class="message-content">
        <span>{{ content.message }}</span>
      </div>
      <span *ngIf="content.target as target">
        <fa-icon class="ms-2 me-2" [icon]="fa.faUserAlt"></fa-icon>
        <span>{{ target.username }}</span>
        <span
          ><kbd>{{ target.id }}</kbd></span
        >
      </span>
      <span *ngIf="content.numbers as numbers">
        <kbd class="me-1" *ngFor="let number of numbers">{{ number }}</kbd>
      </span>
      <span *ngIf="content.props as props">
        <span *ngFor="let prop of props | keyvalue">
          {{ prop.key }} <kbd>{{ prop.value }}</kbd>
        </span>
      </span>
      <span *ngIf="content.editor as editor">
        <span
          >ID мира: <kbd>{{ editor.editor_id }}</kbd
          >,&nbsp;</span
        >
        <span
          >Тип игрока: <kbd>{{ editor.g }}</kbd
          >,&nbsp;</span
        >
        <span
          >Управляющих: <kbd>{{ editor.players }}</kbd
          >,&nbsp;</span
        >
        <span
          >Посетителей: <kbd>{{ editor.visitors }}</kbd></span
        >
      </span>
    </div>
  </ng-container>
</ng-container>
