<ng-container *ngLet="logline.process | process as process">
  <div class="row">
    <div class="col-2 item-column">
        <span>{{ logline.date | date: "d MMM yy, HH:mm:ss" }}</span>
    </div>
    <div class="col-4 col-xxl-2 item-column">
            <span
                placement="right"
                [title]="logline.process"
                class="badge bg-{{ process.type }} process">
                {{ process.translate }}
            </span>
            <div
                *ngIf="logline.multiplier"
                class="d-flex align-items-center"
            >
                <span class="badge multiplier bg-dark mr-2">
                    x{{ logline.multiplier + 1 }}
                </span>
            </div>
    </div>
    <div class="col-2 col-xxl-2 item-column">
        <div class="d-flex flex-row flex-grow-1 justify-content-start">
            <span class="badge bg-dark me-2 multiplier">{{ logline.id }}</span>
            <a
                class="nickname"
                [routerLink]="['/home/search']"
                [queryParams]="{ query: 'nn:' + logline.nickname, page: 0 }"
            >
                <span>{{ logline.nickname }}</span>
            </a>
        </div>
    </div>
    <div class="col-4 col-xxl-6 item-column">
        <div
          ngbDropdown
          [autoClose]="true"
          container="body"
          *ngIf="logline.geo as geo"
          class="d-flex me-1 geo-container"
        >
          <button ngbDropdownToggle class="btn btn-sm btn-dark">
            <fa-icon [icon]="fa.faGlobe"></fa-icon
            ><u class="d-none d-lg-inline ms-2">Раскрыть гео</u>
          </button>
          <div ngbDropdownMenu aria-labelledby="geoDropdown">
            <geo ngbDropdownItem [table]="geo"></geo>
          </div>
        </div>
        <lars-logline-content
          class="content"
          [process]="process"
          [content]="logline.content">
        </lars-logline-content>
    </div>
  </div>
</ng-container>    
