:host {
  font-size: 14px;
  .logline {
    border-bottom: 1px solid #0000000f;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    &:hover {
      background: #0000000f;
    }
    .line-id {
      margin-left: 10px;
      font-size: 10px;
      opacity: 0.7;
    }
  }
}
