:host {
  font-size: 12px;
  .badge {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 15px;
  }
  .badge-dev {
    background-color: #7b4888;
  }
  .badge-usual {
    background-color: #545454;
  }
  .badge-adm {
    background-color: #da6e00;
  }
}
