<div class="d-flex align-items-start flex-column h-100">
  <div class="pt-3 w-100">
    <div class="col-12 d-flex text-center justify-content-start top">
      <lty-icon name="lty-fs-tree"></lty-icon>
      <span class="mr-3">Файлы</span>
      <div class="d-flex flex-row">
        <button class="btn btn-dark sync" (click)="sync()" name="sync"><fa-icon [icon]="fa.sync"></fa-icon></button>
        <span type="button" class="btn btn-dark btn-file" name="button">
          <fa-icon [icon]="fa.plus"></fa-icon>
          <input #add type="file" name="fileLoader" (input)="upload($event)" multiple="true" accept=".map, .off, .conf">
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 pr-0 pl-0 no-padding flex-fill overflow-auto">
    <div *ngIf="node; else loaderItems" class="text-left">
      <file-tree-items (chooseFileEvent)="getConfig($event)" (chooseDirEvent)="chooseDir($event)" [child-nodes]="node" [expanded]="true" [current]="current" (uploadFileList)="upload($event)"></file-tree-items>
    </div>
    <ng-template #loaderItems>
      <div class="d-flex h-100">
        <div class="loader w-100 loader-items d-flex align-self-center justify-content-center">
          <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
          <!-- <svg class="spinner-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 300 300" width="300" height="300"><defs><path d="M13.63 27.94L177.5 27.94L177.5 101.07L96.32 101.07L96.32 277.94L13.63 277.94L13.63 27.94Z" id="bh8Xu6F6b"></path><path d="M197.24 204.81L197.24 27.94L279.93 27.94L279.93 277.94L116.05 277.94L116.05 204.81L197.24 204.81Z" id="a3qVZuQh"></path></defs><g><g><g><use xlink:href="#bh8Xu6F6b" opacity="1" fill-opacity="1"></use></g><g><use xlink:href="#a3qVZuQh" opacity="1" fill-opacity="1"></use></g></g></g></svg> -->
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="node" class="texteditor-underpanel no-select align-self-end w-100">
    <div class="col-12">
      <div class="row">
        <div class="w-100 d-flex flex-row justify-content-between">
          <div class="panel-left">
            <button class="panel">
              <fa-icon [icon]="fa.file"></fa-icon> {{ node.items.length }}
            </button>
          </div>
          <!-- <div class="panel-left">
            <div class="w-100 d-flex flex-row justify-content-end">

            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
