<div class="container-fluid w-100 pt-2 pb-2 h-100">
    <div class="d-flex flex-column h-100">
        <div>
          <small><fa-icon [icon]="fa.search"></fa-icon>Быстрый поиск</small>
          <small class="hint">Например: <span class="dashed">srl:12345*BJBKLJBLJBLHVGVYVHBHJKBHBKJHBKHB</span></small>
        </div>
        <div>
          <app-search [quick]="true"></app-search>
        </div>
      <div class="d-flex flex-fill justify-content-stretch overflow-auto history">
        <div class="container-fluid h-100">          
          <div class="row h-100">
            <div class="d-flex g-0 col-4 flex-column h-100 history-list">
              <h6><fa-icon [icon]="fa.searchp"></fa-icon>Поисковые запросы</h6>
              <div class="d-flex history-list-item w-100">
                <ul class="overflow-hidden" *ngIf="history[0].length > 0; else emptylist">
                  <li class="clip" *ngFor="let item of history[0]">
                    <span class="history-item" [routerLink]="['/home/search']" [queryParams]="{ query: item.q }">{{ item.q }}<br>
                      <span class="history-underitem">
                        <fa-icon class="me-1" [icon]="fa.date"></fa-icon> {{ item.date | date:'d MMM yy, HH:mm:ss' }}
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-flex g-0 col-4 flex-column h-100 history-list">
              <h6><fa-icon [icon]="fa.dir"></fa-icon>Последние файлы</h6>
              <div class="d-flex history-list-item w-100">
                <ul *ngIf="history[1].length > 0; else emptylist">
                  <li  class="clip" *ngFor="let item of history[1]">
                    <span class="history-item" [routerLink]="['/home/configs']" [queryParams]="item">{{ item.name }}<br>
                      <span class="history-underitem">
                        <fa-icon class="me-1" [icon]="fa.code"></fa-icon> {{ item.path }}
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-flex g-0 col-4 flex-column h-100 history-list">
              <h6><fa-icon [icon]="fa.up"></fa-icon>Последние загрузки</h6>
              <div class="d-flex history-list-item">
                <ul *ngIf="history[2].length > 0; else emptylist">
                  <li *ngFor="let item of history[2]">
                    <span *ngIf="item.type === 'config'" class="history-item clip" [routerLink]="['/home/configs']" [queryParams]="item">{{ item.name }}
                      <br>
                      <span class="history-underitem"><fa-icon class="mr-1" [icon]="fa.code"></fa-icon> {{ item.path }}/{{ item.name }}</span>
                    </span>
                    <span *ngIf="item.type === 'map'" class="history-item clip" [routerLink]="['/home/maps']" [queryParams]="{path: item.path, name: item.name}">{{ item.name }}
                      <br>
                      <span class="history-underitem"><fa-icon class="mr-1" [icon]="fa.map"></fa-icon> {{ item.path }}/{{ item.name }}</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #emptylist><small class="hint">История пуста</small></ng-template>
  </div>
</div>
