<!-- <app-head></app-head>
<app-sider></app-sider> -->
<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="d-flex flex-wrap flex-column pt-4 pr-4 pb-4 pl-4">
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <h1>Начало работы с LibertyLogs</h1>
          </div>
          <div class="col-12 mb-2">
            <small><fa-icon [icon]="fa.search"></fa-icon>Быстрый поиск</small><small class="hint">Например: <span class="dashed">srl:12345*BJBKLJBLJBLHVGVYVHBHJKBHBKJHBKHB</span></small>
            <app-search quick="true"></app-search>
          </div>
          <div class="col-4">
            <h6><fa-icon [icon]="fa.dir"></fa-icon>Открыть последнее</h6>
            <div class="col-12">
              <ul>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
              </ul>
            </div>
          </div>
          <div class="col-8">
            <h6><fa-icon [icon]="fa.up"></fa-icon>Последние загруженные файлы</h6>
            <div class="col-12">
              <ul>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6><fa-icon [icon]="fa.searchp"></fa-icon>Последние поисковые запросы</h6>
            <div class="col-12">
              <ul>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
                <li>File</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
