@import "colors";
:host {
  .clip {
    white-space: nowrap;
  }
  .geotable {
    $padding-y: 0.1rem;
    margin-top: $padding-y;
    margin-bottom: $padding-y;
    tr {
      td {
        font-size: 11px;
        $gutter: 0.5rem;
        padding-left: $gutter;
        padding-right: $gutter;
        .btn {
          padding-top: $padding-y;
          padding-bottom: $padding-y;
        }
      }
    }
  }
  .inline {
    width: 100%;
    // background: $topper;
    border-radius: 2px;
  }
  .text-dashed {
    border-bottom: 1px dashed $text;
    cursor: pointer;
    transition: 0.1s linear;
    &:hover {
      color: $text-secondary;
      border-bottom: 1px dashed $text-secondary;
    }
  }
}
