@import 'scss/colors';
:host {
  lty-icon {
    width: 45px;
    height: 45px;
  }
  .map-inspector-top {
    height: 48px;
    width: 100%;
    .text {
      font-size: 13px;
      line-height: 53px;
    }
  }
  .inspector {
    border-left: 2px solid $topper;
    background: $filetree;
  }
  .progress {
    height: 2px;
    margin-bottom: -2px;
    border-radius: none;
    background: none!important;
    .progressbar {
      background: $primary!important;
    }
  }
  .pr {
    color: #fdfdfd30;
    h3 {
      font-weight: 300;
      .badge {
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.5;
      }
    }
  }
  kbd {
    font-size: inherit;
    width: 100%;
    b {
      font-weight: 600;
    }
  }
  .btn {
    small {
      opacity: 0.5;
    }
  }
  .badge {
    font-size: 16px;
    font-weight: 300;
    padding: 0px 10px 0px 0px;
    line-height: 30px;
    fa-icon {
      margin-left: 10px;
      margin-right: 10px;
    }
    .pre-badge {
      font-weight: 500;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 4px 10px 5px 10px;
      background-color: #ffffff30;
      line-height: 27px;
    }
  }
  .coords {
    margin-right: 0.5rem;
  }
  table {
    color: $text;
  }
  .title {
    h3 {
      text-overflow: ellipsis;
      fa-icon {
        margin-right: 0em;
      }
    }
    white-space: nowrap;
  }
  fa-icon {
    margin-right: 0.5em;
  }
  .playerlog, .jumbotron {
    background: #3d3e4a;
  }
  .filetree {
    font-size: 13px;
    background: $filetree;
  }
  .texteditor {
    // overflow: auto;
    background: $secondary;
  }
  .text-edit-block {
    color: $text;
    text-align: center;
    height: 100%;
    h4 {
      width: 100%;
      opacity: 0.2;
      font-weight: 300;
    }
  }
}
