<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="col-12 h-100">
      <div class="row h-100">
        <div class="col-sm-4 col-lg-4 filetree pr-0 pl-0 h-100">
          <file-tree (chooseFileEvent)="getMap($event)" [items]="files" [current]="currentFilePath"></file-tree>
        </div>
        <div class="col-sm-8 col-lg-8 h-100">
          <div *ngIf="!api.loading && current; else loading" class="jumbotron mb-0 h-100 w-100">
            <div class="container">
              <div class="d-flex justify-content-between overflow-hidden title w-100">
                <h3 class="display-4"><fa-icon [icon]="fa.map"></fa-icon> {{ current.name }}</h3>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-8 col-lg-7">
                      <div class="mb-2">
                        <b>Кол-во объектов</b>
                      </div>
                      <span *ngIf="current.objects <= 380" class="badge badge-success">
                        <span class="pre-badge">{{ current.objects }}</span>
                        <fa-icon [icon]="fa.check"></fa-icon>Лимит не превышен
                      </span>
                      <span *ngIf="current.objects >= 380 && current.objects < 400" class="badge badge-warning">
                        <span class="pre-badge">{{ current.objects }}</span>
                        <fa-icon [icon]="fa.info"></fa-icon>Близко к лимиту
                      </span>
                      <span *ngIf="current.objects >= 400" class="badge badge-danger">
                        <span class="pre-badge">{{ current.objects }}</span>
                        <fa-icon [icon]="fa.info"></fa-icon>Превышен лимит
                      </span>
                    </div>
                    <div class="col-md-4 col-lg-5">
                      <div class="mb-2">
                        <b>Координаты</b>
                      </div>
                      <div class="mb-1">
                        <span class="badge badge-dark">
                          <span class="pre-badge">X</span>
                          {{ current.coords.x }}
                        </span>
                      </div>
                      <div class="mb-1">
                        <span class="badge badge-dark">
                          <span class="pre-badge">Y</span>
                          {{ current.coords.y }}
                        </span>
                      </div>
                      <div class="mb-1">
                        <span class="badge badge-dark">
                          <span class="pre-badge">Z</span>
                          {{ current.coords.z }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <!-- <div class="btn-group" role="group" aria-label="Управление картой"> -->
                <button (click)="saveMapLocal()" type="button" class="btn btn-dark"><fa-icon [icon]="fa.down"></fa-icon> Сохранить локально <br> <small>Ctrl+S</small></button>
                <button (click)="saveMapCloud()" type="button" class="btn btn-dark"><fa-icon [icon]="fa.up"></fa-icon> Загрузить на сервер <br> <small>Ctrl+A</small></button>
                <button (click)="deleteMapCloud()" type="button" class="btn btn-dark"><fa-icon [icon]="fa.trash"></fa-icon> Удалить <br> <small>Alt+X</small></button>
              <!-- </div> -->
            </div>
          </div>
          <ng-template #loading>
            <div *ngIf="!current && !api.loading" class="jumbotron mb-0 h-100 w-100 d-flex justify-content-center">
              <div class="pr d-flex align-self-center text-center">
                <h3><fa-icon [icon]="fa.map"></fa-icon> <br>Выберите карту из списка или добавьте новую с помощью комбинации <span class="badge badge-dark"> CTRL+A </span></h3>
              </div>
            </div>
            <div class="jumbotron mb-0 h-100 w-100 d-flex justify-content-center">
              <div class="loader d-flex align-self-center">
                <svg class="spinner-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 300 300" width="300" height="300"><defs><path d="M13.63 27.94L177.5 27.94L177.5 101.07L96.32 101.07L96.32 277.94L13.63 277.94L13.63 27.94Z" id="bh8Xu6F6b"></path><path d="M197.24 204.81L197.24 27.94L279.93 27.94L279.93 277.94L116.05 277.94L116.05 204.81L197.24 204.81Z" id="a3qVZuQh"></path></defs><g><g><g><use xlink:href="#bh8Xu6F6b" opacity="1" fill-opacity="1"></use></g><g><use xlink:href="#a3qVZuQh" opacity="1" fill-opacity="1"></use></g></g></g></svg>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #successSaveTpl>
  <div class="d-flex flex-row">
    <div class="d-flex toast-icon">
      <fa-icon [icon]="fa.save"></fa-icon>
    </div>
    <div class="d-flex flex-fill toast-text">
      <span>
        <b>{{ this.current.name }}</b> успешно сохранен
      </span>
    </div>
  </div>
</ng-template>
<ng-template #failSaveTpl>
  <div class="d-flex flex-row">
    <div class="d-flex toast-icon">
      <fa-icon [icon]="fa.save"></fa-icon>
    </div>
    <div class="d-flex flex-fill toast-text">
      <span>
        ОШИБКА: <b>{{ this.current.name }}</b> не сохранен
        <br>
      </span>
    </div>
  </div>
</ng-template>
