<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="col-12 h-100">
      <div class="row h-100">
        <div class="col-md-4 col-lg-3 col-xl-2 filetree pr-0 pl-0 h-100">
          <div class="progress">
            <div class="progress-bar" [style.width.%]="progress" role="progressbar" attr.aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <file-tree (chooseFileEvent)="getMap($event)" [items]="files" [current]="currentFilePath" (addNew)="addNewMap($event)" (resync)="reloadFileTree()"></file-tree>
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10 h-100 pr-0 pl-0">
          <div *ngIf="current; else loading" class="mb-0 h-100 w-100 d-flex justify-content-stretch overflow-auto">
            <div class="d-flex justify-content-stretch align-items-center flex-fill overflow-hidden">
              <div class="d-flex flex-column h-100 w-100">
                <div class="d-flex justify-content-between flex-row overflow-hidden title w-100 map-top">
                  <div><span class="badge badge-light"><fa-icon [icon]="fa.map"></fa-icon><span class="pre-badge">{{ current.name }}</span></span></div>
                  <div>
                    <span placement="left" [ngbTooltip]="limitOk" *ngIf="current.objects.length <= 380" class="badge badge-success">
                      <fa-icon [icon]="fa.cubes"></fa-icon>
                      <span class="pre-badge">{{ current.objects.length }}</span>
                      <ng-template #limitOk><fa-icon [icon]="fa.check"></fa-icon>Лимит не превышен</ng-template>
                    </span>
                    <span placement="left" [ngbTooltip]="limitWarn" *ngIf="current.objects.length >= 380 && current.objects < 400" class="badge badge-warning">
                      <fa-icon [icon]="fa.cubes"></fa-icon>
                      <span class="pre-badge">{{ current.objects.length }}</span>
                      <ng-template #limitWarn><fa-icon [icon]="fa.info"></fa-icon>Близко к лимиту</ng-template>
                    </span>
                    <span placement="left" [ngbTooltip]="limitDanger" *ngIf="current.objects.length >= 400" class="badge badge-danger">
                      <fa-icon [icon]="fa.cubes"></fa-icon>
                      <span class="pre-badge">{{ current.objects.length }}</span>
                      <ng-template #limitDanger><fa-icon [icon]="fa.info"></fa-icon>Превышен лимит</ng-template>
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-fill map">
                  <map-editor [@mapload]="api.loading" [objects]="current.objects"></map-editor>
                  <div *ngIf="api.loading" class="blured-fix mb-0 d-flex justify-content-center">
                    <div class="loader d-flex align-self-center">
                      <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
                    </div>
                  </div>
                </div>
          <div class="map-bottom">
              <button (click)="saveMapLocal()" type="button" class="btn btn-dark"><fa-icon [icon]="fa.down"></fa-icon> Сохранить локально <br> <small>Ctrl+S</small></button>
              <button (click)="deleteMapCloud()" type="button" class="btn btn-dark"><fa-icon [icon]="fa.trash"></fa-icon> Удалить <br> <small>Alt+X</small></button>
          </div>
              </div>
            </div>
            <div class="d-flex flex-column inspector h-100">
              <div class="d-flex text-center map-inspector-top justify-content-center">
                <div class="d-flex text"><fa-icon [icon]="fa.sign"></fa-icon>Map inspector</div>
              </div>
              <div class="d-flex flex-fill overflow-auto">
                <map-inspector [mapObjects]="current"></map-inspector>
              </div>
            </div>
          </div>
          <ng-template #loading>
            <div *ngIf="!current && !api.loading" class="jumbotron mb-0 h-100 w-100 d-flex justify-content-center">
              <div class="pr d-flex align-self-center text-center">
                <h3><fa-icon [icon]="fa.map"></fa-icon> <br>Выберите карту из списка или добавьте новую с помощью комбинации <span class="badge badge-dark"> ALT+A </span></h3>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
