<div class="w-100 d-flex align-items-start flex-column h-100">
  <div #editorStyle class="textarea d-flex flex-fill w-100">
    <ngx-codemirror
      #editor
      [(ngModel)]="textplain"
      (keyup)="checkChanges()"
      [options]="codemirrorSettings"
      [autoFocus]="true">
    </ngx-codemirror>
  </div>
  <div *ngIf="$search | async" class="d-flex flex-column infile-search w-100">
    <div class="d-flex flex-row justify-content-between align-items-center infile-search-head">
      <div class="d-flex align-items-center">
        <button (click)="closeSearch()" class="btn btn-dark infile-search-hide" type="button" name="button"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="M24.69 9.83L14.66 20.77L4.69 9.83" id="a1sXzGPVRt"></path></defs><g><g><g><g><use xlink:href="#a1sXzGPVRt" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg></button>
        <small>ПОИСК</small>
      </div>
    </div>
    <div class="d-flex flex-fill flex-column p-1 infile-search-body">
      <div class="d-flex flex-row justify-content-stretch">
        <input toFocus (keyup.enter)="searchIn()" [(ngModel)]="query.find" name="queryFind" type="text" class="d-flex form-control shadow-none align-middle input-dark" placeholder="Найти в текущем буфере"/>
      </div>
      <div class="d-flex flex-row justify-content-stretch mt-1">
        <input (keyup.enter)="replaceIn()" [(ngModel)]="query.replace" name="queryReplace" type="text" class="d-flex form-control shadow-none align-middle input-dark" placeholder="Заменить в текущем буфере"/>
      </div>
      <div class="d-flex flex-row justify-content-stretch p-2">
        <small class="text-muted">Найдено совпадений: 
          <ng-container *ngLet="$matches | async as matches">
            <span [class.text-light]="matches > 0">{{ matches }}</span>
          </ng-container>
        </small>
      </div>
    </div>
  </div>
</div>
<!-- <div class="h-100">
  <div class="d-flex align-items-start flex-column h-100 w-100">
    <div class="underpanel no-select align-self-end w-100">
      <div *ngIf="stats; else loadingTpl" class="col-12">
        <div class="row">
          <div class="w-100 d-flex flex-row justify-content-between">
            <div class="panel-left">
              <div class="d-flex justify-content-start align-content-center">
                <button (click)="pathToClipboard()" class="panel overflow-hidden word-wrap">
                  <fa-icon [icon]="fa.branch"></fa-icon>
                  {{ path }}{{ (changed | async)?'*':'' }}
                </button>
                <div class="panel flex-grow">
                  {{ stats.mime }}
                </div>
                <div class="panel flex-grow">
                  ANSI
                </div>
                <div placement="top" [ngbTooltip]="bufferSize" class="panel flex-grow">
                  {{ stats.size | FileSize }}
                </div>
                <ng-template #bufferSize><strong>{{ stats.size }}</strong> bytes</ng-template>
              </div>
            </div>
            <div class="panel-right">
              <div class="w-100 d-flex flex-row justify-content-end">
                <button placement="top" ngbTooltip="{{ (configs.error | async)?.message }}"  class="panel">
                  <i [class.led-loading]="loading" [class.led-error]="(configs.error | async)?.message" class="autosave-led"></i>
                </button>
                <button (click)="saveFile()" class="panel" [disabled]="!(changed | async)">
                  <fa-icon [icon]="fa.save"></fa-icon> <span class="d-sm-none d-md-inline">Сохранить</span>
                </button>
                <button (click)="deleteFile()" class="panel">
                  <fa-icon [icon]="fa.trash"></fa-icon> <span class="d-sm-none d-md-inline">Удалить</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<ng-template #loadingTpl>
  <div class="col-12">
    <div class="row">
      <div class="w-100 d-flex flex-row justify-content-end">
        <div class="panel-right">
          <div class="d-flex justify-content-start align-content-center">
            <lty-icon class="mr-2" name="lty-logo" anim="spinner-logo"></lty-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
