@import "colors";
// @import 'd';
.was-validated .form-control:invalid {
  border-color: red;
}
.input-group {
  .input-group-prepend {
    margin-right: 0px;
  }
  .form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
input[type="text"],
input[type="password"],
input[type="ip"],
input[type="number"] {
  height: 35px;
  border-radius: 5px;
  border: 2px solid $topper;
  font-size: 13px;
  background-color: $topper!important;
  color: $text;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  &:active, &:focus {
    outline: none;
  }
  &:read-only {
    color: $text-secondary!important;
  }
}
.is-invalid {
  border: 2px solid red!important;
}
span {
  width: 100%;
}
h6 {
  margin-bottom: 0em;
  font-weight: 700;
}
small {
  opacity: 0.7;
  line-height: 10px;
  position: relative;
  bottom: 3px;
}
