<div class="col-12 d-flex align-items-center h-100 l-bg">
  <div class="col d-flex justify-content-center w-100">
    <div class="col-lg-10 d-flex align-self-center justify-content-center col-10 auth">
      <form [formGroup]="loginForm" class="pt-3 pb-3 text-center col-10 col-sm-8 col-lg-6" (ngSubmit)="logIn()">
        <img class="logo" src="../assets/logo.svg" alt="">
        <div class="form-group">
          <input type="email"
                 formControlName="email"
                 placeholder="E-Mail"
                 class="form-control"
                 id="exampleInputEmail1"
                 aria-describedby="emailHelp"
                 required>
        </div>
        <div class="form-group">
          <input type="password"
                 formControlName="password"
                 placeholder="Пароль"
                 class="form-control"
                 id="exampleInputPassword1"
                 required>
          <small *ngIf="!error" id="emailHelp" class="form-text text-muted">Используйте свои данные админа для входа.</small>
          <!-- <small *ngIf="" id="wrong" class="form-text text-danger">Неправильный </small> -->
          <small *ngIf="error" id="wrong" class="form-text text-danger">Неверный логин или пароль.</small>
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary w-100 mb-2">
          <span *ngIf="!loading; else loader">Войти</span>
          <ng-template #loader>
            <svg class="spinner" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
