@import 'scss/colors';
:host {
  background-color: #383a4a;
  #bgcanvas {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 100px;
    height: auto;
    // transform: scaleY(-1);
  }
  .l-bg {
    background: url('../../assets/lbg.webp') no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .btn-dark {
    background-color: $topper!important;
    &:hover {
      background-color: #353642;
    }
    &:active {
      background-color: $primary;
    }
  }
}
