$height: 15px;
:host {
  .active {
    color: #82AAFF;
  }
  .item-name {
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 8px;
    cursor: pointer;
    &:active, &:focus, &:hover {
      text-decoration: underline;
    }
  }
  .delete {
    width: 10px;
    height: 10px;
  }
  fa-icon {
    font-size: $height;
    margin-right: 0.5em;
    margin-left: 1.2rem;
  }
  lty-icon {
    width: 11px;
    position: relative;
    top: -2px;
    margin-right: 0.5em;
    margin-left: 1.2rem;
  }
}
