$height: 15px;
:host {
  .active {
    color: #82AAFF;
  }
  .item-name {
    white-space: nowrap;
    padding-right: 15px;
    cursor: pointer;
    &:active, &:focus, &:hover {
      text-decoration: underline;
    }
  }
  fa-icon {
    font-size: $height;
    margin-right: 0.5em;
  }
}
