<div class="container-fluid g-0 h-100">
  <div class="d-flex flex-column h-100">
    <div class="d-flex align-self-start flex-column w-100">
      <div class="col-12 head">
        <div class="row h-100">
          <div class="h-100 col-3 align-items-center d-flex">
            <h6 class="mb-0"><fa-icon [icon]="fa.ban"></fa-icon>Банлист</h6>
          </div>
          <div class="h-100 col-2 align-items-center d-flex">
            <ng-select [items]="searchTypes"
            bindLabel="val"
            [searchable]="false"
            [clearable]="false"
            bindValue="id"
            class="custom w-100"
            [(ngModel)]="currentSearchType">
          </ng-select>
          </div>
          <div class="h-100 col-7 form-group mb-0 align-items-center d-flex">
            <input class="form-control"
              aria-describedby="button-path"
              placeholder="Поиск"
              type="text"
              required>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bans; else empty" class="d-flex flex-fill">
      <div class="col-12">
        <div class="row">
          <table class="table w-100">
            <thead class="overflow-auto">
              <th>Тип бана</th>
              <th>Параметр</th>
              <th>Никнейм</th>
              <th>Кем забанен</th>
              <th>Время бана</th>
              <th>Авторазбан</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let ban in bans">
                <td><kbd>CN</kbd></td>
                <td>13267TT4NRPI3FTB4QPQVWA1DJKIUT</td>
                <td>Neverm1ndo</td>
                <td>Neverm1ndo</td>
                <td>20 Jan 2021 22:22:22</td>
                <td>20 Jan 2021 22:22:22</td>
                <td><button class="btn btn-light" type="button" name="button">Разбанить</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <div class="d-flex flex-fill flex-column justify-content-center align-items-center w-100">
        <span class="text-muted">Банлист пуст</span>
      </div>
    </ng-template>
  </div>
</div>
