<div class="container-fluid d-flex flex-column g-0 h-100">
    <div class="container-fluid head">
      <div class="row h-100">
        <div class="col-3">
          <h6><fa-icon [icon]="fa.ban"></fa-icon>Банлист</h6>
        </div>
        <form class="col-9 h-100 form-group" [formGroup]="searchForm" (submit)="search()">
          <div class="row h-100 align-items-center">
            <div class="col-2 d-flex align-items-end justify-content-end">
              <div *ngIf="$loading | async" class="d-flex">
                <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
              </div>
            </div>
            <div class="h-100 col-3 align-items-center d-flex">
              <ng-select [items]="searchTypes"
              bindLabel="val"
              [searchable]="false"
              [clearable]="false"
              bindValue="id"
              formControlName="type"
              class="custom w-100">
            </ng-select>
            </div>
            <div class="h-100 col-7 mb-0 align-items-center d-flex">
              <input class="form-control"
                aria-describedby="button-path"
                formControlName="query"
                placeholder="Поиск"
                type="text"
                required>
            </div>
            <input type="submit" style="visibility: hidden;" />
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex list">
        <table class="table w-100">
          <thead>
            <th>ID</th>
            <th>Код бана</th>
            <th>Параметр</th>
            <th>Причина</th>
            <th>Никнейм</th>
            <th>Кем забанен</th>
            <th>Время бана</th>
            <th>Авторазбан</th>
          </thead>
          <ng-container *ngLet="$bans | async as bans">
            <tbody>
              <tr *ngFor="let ban of bans">
                <td>{{ ban.id }}</td>
                <td><kbd>{{ ban.ban_type }}</kbd></td>
                <td>
                  <div data-name="as" class="serial as" *ngIf="ban.serial_as">{{ ban.serial_as }}</div>
                  <div data-name="ss" class="serial ss" *ngIf="ban.serial_ss">{{ ban.serial_ss }}</div>
                  <div data-name="cn" class="serial cn" *ngIf="ban.serial_cn && ban.ban_type === 11111">{{ ban.serial_cn }}</div>
                  <div data-name="ip" class="serial ip" *ngIf="ban.ip">{{ ban.ip }}</div>
                </td>
                <td>{{ ban.rule }}</td>
                <td>
                  <div *ngIf="ban.user_id" class="text-center">
                    <kbd>{{ ban.user_id }}</kbd>
                    <span>
                      {{ ban.banned_username }}
                    </span>
                  </div>
                  <div 
                    class="text-center"
                    [class.text-muted]="ban.banned_username"
                  >
                    <small>aka {{ ban.user_nickname }}</small>
                  </div>
                </td>
                <td>
                  <img class="avatar" [src]="ban.admin_avatar" [alt]="ban.admin_username">
                  {{ ban.admin_username }}
                </td>
                <td>{{ ban.banned_from | date:'d MMM yy, HH:mm:ss' }}</td>
                <td>
                  <ng-container *ngIf="ban.banned_to; else permanent">
                    <span>
                      {{ ban.banned_to | date:'d MMM yy, HH:mm:ss' }}
                    </span>
                  </ng-container>
                  <ng-template #permanent>
                    <span>Никогда</span>
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </ng-container>
        </table>
    </div>
    <ng-template #empty>
      <div class="d-flex flex-fill flex-column justify-content-center align-items-center w-100">
        <span class="text-muted">Банлист пуст</span>
      </div>
    </ng-template>
</div>
