@import "colors";
:host {
  width: 100%;
  span {
    word-wrap: break-word;
  }
  .user {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    small {
      line-height: 17px!important;
    }
    a {
      line-height:  24px;
      margin-left: 5px;
      margin-right: 5px;
      transition: .1s ease;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #fdfdfd;
      }
    }
      img {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 100%;
        position: relative;
        top: -1px;
      }
      .badge {
        width: 26px;
        padding: 2px;
        line-height: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  .bancard {
    border-radius: 3px;
    overflow: hidden;
    &-head {
      background: #00000060;
    }
    &-body {
      background: #00000030;
    }
    &-head, &-body {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .bg {
    &-shade {
      &-danger {
        background-color: #9e333d;
      }
      &-warning {
        background-color: #e8c763;
      }
      &-success {
        background-color: #449055;
      }
    }
  }
}
.cn {
  background: $secondary;
  color: $text;
  padding: 5px;
}
