<ng-container [ngSwitch]="setTemplate()">
  <ng-template *ngSwitchCase="'BAN'">
    <div class="bancard w-100 bg-{{ process.type }}">
      <div class="bancard-head">
        <small>Выдан администратором <u>{{ content.op }}</u> </small><span class="badge bg-dark ml-1">{{ content.oid }}</span><br>
      </div>
      <div class="bancard-body">
        <small>{{ content.time }} {{ content.message }}</small><br>
        <small>{{ content.message | rules }} </small>
      </div>
    </div>
  </ng-template>
  <ng-container *ngSwitchCase="'AUTH'">
    <div *ngIf="content" class="user w-100 bg-{{ process.type }}">
        <ng-container *ngIf="content.auth as user;">
          <img src="{{ user.avatar }}"/>
          <a class="text-light" (click)="userLink(user.id)">{{ user.username }}</a>
          <span class="badge bg-dark">{{ user.id }}</span>
          <small>{{ user.main_group | role }}</small>
          <small class="ms-2" *ngIf="user.main_group !== user.secondary_group">
            {{ user.secondary_group }}
          </small>
        </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'DEATH'">
    <span><kbd>{{content.op}} <span class="badge bg-dark">{{ content.oid }}</span></kbd> {{ content.message }} </span>
  </ng-container>
  <ng-container *ngSwitchCase="'CN'">
    <a class="btn btn-small btn-dark text-left cn" [routerLink]="['/home/search']" [queryParams]="{ query: 'cn:' + content.message }">
      <fa-icon [icon]="faSearch"></fa-icon>{{ content.message }}
    </a>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <span>{{ content.message }}</span>
  </ng-container>
</ng-container>
