@import 'colors';

:host {
    height: 100%;
}

.progress {
    $size: 2px;

    height: $size;
    margin-bottom: -$size;
    position: relative;
    top: 0px;
    border-radius: none;
    background: none!important;
    z-index: 1;
    .progressbar {
        background: $primary!important;
    }
}

.filetree {
    font-size: 13px;
    background: $filetree;
}