@import 'colors';

:host {
  margin-bottom: 1px;
  background: $filetree;
  transition: .1s linear;
  &.active {
    background: #212124;
  }
  &:hover:not(.active) {
    background: #303033;
  }
}

.backups-list-item {
  width: 100%;
  max-height: 40px;
  cursor: pointer;
  .item {
    overflow: hidden;
    padding: 0px 5px 0px 5px;
    white-space: nowrap;
    margin-right: 3px;
    font-size: 12px;
    flex: 1 1 25%;
    overflow: hidden;
    &-elapsed {
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
  &_nickname {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
  }
  &_icon{
    padding: 0 15px 0 15px;
  }
  .sub {
    min-width: 45px;
  }
  .marker {
    $outline-size: 2px solid;
    $inset: 6px;
    
    width: 0;
    height: 40px;
    border: $outline-size;
    img {
      $avatar-size: 24px;

      margin: $inset 0 0 0;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      border: $outline-size;
      border-color: inherit;
      position: relative;
      right: calc($inset * 2);
    }
  }
  button {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    min-height: 40px;
  }
}
