@import 'colors';
:host {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  $tab-gutter: 10px;
  
  .map-inspector-top {
    $tab-head-height: 32px;
    
    height: $tab-head-height;
    width: 100%;
    background-color: $topper;
    padding: 0 $tab-gutter calc($tab-gutter/2) $tab-gutter;
    
    .text {
      font-size: 13px;
      line-height: $tab-head-height;
    }
    
    fa-icon {
      margin-right: $tab-gutter;
    }
  }
  .inspector {
    position: relative;
    z-index: inherit;
  }
  table {
    margin-bottom: 0px;

    $columns:
     1 8%,
     2 10%,
     3 15%,
     4 12%,
     5 20%,
     6 5%,
     7 5%,
     8 5%,
     9 20%;

     td {
         vertical-align: middle;
         border-bottom: 1px solid $filetree;
         table-layout: fixed;
         overflow: hidden;
         word-wrap: break-word;
         
         @each $index, $width in $columns {
            &:nth-child(#{$index}) {
                width: $width;
                max-width: $width;
            }
         } 
    }
  }
  .viewport {
    height: 100%;
    width: 100%;
    background-color: $underpanel;
    
    .tab {
      &.active {
        background-color: $scrollbar-thumb;
      }
      font-size: 10px;
      height: 22px;
      
      .name {
        text-transform: uppercase;
        font-size: 10px;
        background: #efefef;
        color: #121212;
        font-weight: 700;
        line-height: 12px;
        box-sizing: border-box;
        padding: 1px 5px 1px 5px;
      }
      
      img {
        width: 32px;
        height: auto;
        transition: .2s ease-in-out;
        &:hover {
          z-index: 10;
          border: 1px solid $text;
          transform: scale(3) translateX(-8px);
        }
      }
      
      .model-id {
        margin-left: 5px;
      }

      $objects: 
        "vehicle" #2791dc,
        "pickup" #f3b94f,
        "remove" #ce3d4a,
        "spawn" #6d55cc,
        "racepickup" #505050,
        "material" #3a84a0,
        "text" #3e0f0f;

    @each $name, $color in $objects {
        .#{$name} {
            background: $color;
        }
    }
      
    .id {
        opacity: 0.8;
        font-weight: bold;
    }
    
    .d-inline {
        overflow: hidden;
        max-width: 80px;
        word-wrap: break-word;
      }
    }
  }
}

.text-ellipsis {
    word-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.xml-button {
  align-self: center;
  height: 24px;
  font-family: monospace;
}
