<ng-container *ngLet="list$ | async as list">
  <div class="viewport" 
    cdkVirtualScrollingElement
    larsLazyLoadList
    (loadItems)="loadNewLines()"
    [attr.data-listlength]="list.length"
    [attr.data-limit]="100">
    <cdk-virtual-scroll-viewport #viewport
      [itemSize]="itemSize">
      <lars-logs-list-item 
        *cdkVirtualFor="let line of list" 
        [logline]="line">
      </lars-logs-list-item>
    </cdk-virtual-scroll-viewport>
    <ng-container #spinnerContainer></ng-container>
  </div>
</ng-container>
<ng-template #lazyLoaderSpinner>
    <div lazy-load-spinner class="text-center bg-dark p-2 w-100">
      <lty-icon name="lty-logo" 
        anim="spinner-logo"
        class="loading"
      ></lty-icon>
    </div>
</ng-template>
