<div class="container-fluid g-0 h-100">
  <div class="d-flex flex-column h-100">
    <as-split direction="horizontal" [gutterSize]="5" (dragEnd)="savePanesState($event)">
      <as-split-area [size]="paneStates[0]">
        <div class="d-flex flex-column flex-fill h-100 filetree">
          <div class="progress">
            <div class="progress-bar" [style.width.%]="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <file-tree
            (fileSelect)="toConfig($event)"
            (mkdir)="mkdir($event)"
            (rmdir)="rmdir($event)"
            (mvdir)="mvdir($event)"
            [items]="directories$ | async"
            [current]="currentFilePath"
            (upload)="addNewFile($event)"
            (resync)="reloadFileTree()"
            [canCreate]="true">
          </file-tree>
        </div>
      </as-split-area>
      <as-split-area [size]="paneStates[1]">
        <div class="texteditor h-100">
          <div class="d-flex progress">
            <div class="progress-bar" [style.width.%]="configs.dprogress$ | async" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>

