<div class="mb-0 h-100 w-100 d-flex flex-column justify-content-stretch">
  <div class="d-flex flex-fill w-100">
    <canvas #view style="height: 100%; width: 100%;"></canvas>
    <div *ngIf="!!($loading | async)" class="loading-screen d-flex flex-fill">
      <div class="d-flex align-self-center w-100 text-center justify-content-center">
        <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
      </div>
    </div>
  </div>
  <div class="tools">
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.save"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.undo"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.redo"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.map"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.download"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.upload"></fa-icon></button>
    <button class="btn btn-sm btn-dark"><fa-icon [icon]="fa.list"></fa-icon></button>
  </div>
</div>
