@import 'colors';

:host {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  .loading {
    &-screen {
      position: absolute;
      background-color: black;
      color: white;
      width: 100%;
      height: 100%;
      lty-icon {
        width: 20px;
      }
    }
  }
  .tools {
    background-color: $underpanel;
  }
}
