<div
  dnd
  [path]="childNodes.path"
  (fileDropped)="uploadDnD($event)"
  [class.expandedTab]="isOpen()"
  class="item no-select"
>
  <div
    ngbDropdown
    [autoClose]="true"
    #contextDrop="ngbDropdown"
    (click)="toggleExpand($event, childNodes.path); (true)"
    class="item-title"
  >
    <div
      title="{{ childNodes.name }}"
      class="under-toggler d-flex flex-fill"
      [class.active-dir]="contextDrop.isOpen()"
      ngbDropdownAnchor
      (contextmenu)="showContext($event, contextDrop, 'dir')"
    >
      <div class="d-flex flex-row item-name w-100 justify-content-between">
        <div class="d-flex">
          <button [class.expanded]="isOpen()" class="items-expander">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 30 30"
              width="30"
              height="30"
            >
              <defs>
                <path
                  d="M24.69 9.83L14.66 20.77L4.69 9.83"
                  id="a1sXzGPVRt"
                ></path>
              </defs>
              <g>
                <use
                  xlink:href="#a1sXzGPVRt"
                  opacity="1"
                  fill-opacity="0"
                  stroke-opacity="1"
                ></use>
              </g>
            </svg>
          </button>
          <fa-icon [icon]="fa.dir"></fa-icon>
          {{ childNodes.name }}
        </div>
      </div>
    </div>
    <div ngbDropdownMenu aria-labelledby="file-tree-conxtext">
      <button
        (click)="$event.stopPropagation(); mvDir(childNodes.path)"
        class="text-light bg-black"
        ngbDropdownItem
      >
        <span class="no-icon">Переименовать</span>
      </button>
      <button
        (click)="$event.stopPropagation(); rmDir(childNodes.path)"
        class="text-danger bg-black"
        ngbDropdownItem
      >
        <fa-icon class="mr-3" [icon]="fa.trash"></fa-icon>Удалить
      </button>
    </div>
  </div>
  <div *ngIf="isOpen()" class="items">
    <div
      class="item no-select"
      *ngFor="let child of childNodes.items"
      [class.active]="(getCurrent() | async) == child.path"
      [attr.data-path]="child.path"
    >
      <file-tree-item
        title="{{ child.name }}"
        (click)="selectFile({ path: child.path, name: child.name })"
        *ngIf="isFile(child.type)"
      >
        <div ngbDropdown [autoClose]="true" #contextDropItem="ngbDropdown">
          <div
            ngbDropdownAnchor
            [class.active-dir]="contextDropItem.isOpen()"
            (contextmenu)="showContext($event, contextDropItem, child.type)"
            [attr.data-path]="child.path"
            class="item-name"
          >
            <fa-icon [icon]="getFileIcon(child)"></fa-icon>
            {{ child.name }}
            <div ngbDropdownMenu aria-labelledby="file-tree-conxtext">
              <button
                (click)="$event.stopPropagation(); mvDir(child.path)"
                class="text-light bg-black"
                ngbDropdownItem
              >
                <span class="no-icon">Переименовать</span>
              </button>
              <button
                (click)="$event.stopPropagation(); rmFile(child.path)"
                class="text-danger bg-black"
                ngbDropdownItem
              >
                <fa-icon class="mr-3" [icon]="fa.trash"></fa-icon>Удалить
              </button>
            </div>
          </div>
        </div>
      </file-tree-item>
      <file-tree-items
        [expanded]="child.expanded"
        (rmdir)="rmDir($event)"
        (rm)="rmFile($event)"
        (mvdir)="mvDir($event)"
        (uploadFileList)="uploadDnD($event)"
        *ngIf="isDir(child.type)"
        [child-nodes]="child"
      ></file-tree-items>
    </div>
  </div>
</div>
