<div class="container-fluid d-flex flex-column g-0 h-100">
  <div class="d-flex align-self-start w-100">
    <div class="head">
      <div class="col-12">
        <h6><fa-icon [icon]="fa.box"></fa-icon>Резервные копии</h6>
      </div>
    </div>
  </div>
  <ng-container *ngLet="$current | async as current">
    <as-split direction="vertical" [gutterSize]="5" (dragEnd)="savePanesState($event)">
      <as-split-area [size]="current? paneStates[0]: 100">
        <div class="d-flex flex-column h-100">
          <ng-container *ngIf="($backups | async) as backups">
            <div *ngIf="backups.length > 0; else loading" class="d-flex backups-list h-100 flex-row overflow-auto">
              <div #binds class="binds"></div>
              <div #backupsList class="d-flex flex-column w-100">
                <app-backup-item
                  *ngFor="let backup of backups" 
                  [attr.data-filename]="backup.file.name" 
                  [backup-info]="backup"
                  [class.active]="backup.unix === current?.unix"
                  (click)="showBackupView(backup)">
                </app-backup-item>
                <div *ngIf="backups.length === 0" class="d-flex flex-fill justify-content-center align-items-center">
                  <p class="text-muted">Нет живых бэкапов</p>
                </div>
              </div>
            </div>
            <ng-template #loading>
              <div class="d-flex flex-fill justify-content-center align-items-center">
                <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </as-split-area>
      <as-split-area [size]="current ? paneStates[1] : 0">
        <div *ngIf="current" class="d-flex flex-column viewer h-100">
          <div class="d-flex flex-row justify-content-between viewer-head align-items-center">
            <div class="d-flex flex-row align-items-center w-100">
              <div class="d-flex align-items-center">
                <button (click)="closeView()" class="d-flex btn btn-dark viewer-hide" type="button" name="button"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="M24.69 9.83L14.66 20.77L4.69 9.83" id="a1sXzGPVRt"></path></defs><g><g><g><g><use xlink:href="#a1sXzGPVRt" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg></button>
                <div class="d-flex viewer-head-elapse flex-column">
                  <span>{{ current.file.name }}</span>
                  <span class="d-flex elapse">
                    <small class="text-muted">{{ current.date | date:'d MMM yy, HH:mm:ss' }}</small>
                  </span>
                </div>
              </div>
              <div class="d-flex flex-row flex-fill justify-content-end viewer-bottom align-items-center">
                <span class="d-flex elapse me-2">
                  <small class="elapse">{{ current.file.path }}</small>
                </span>
                <div class="p-1 d-flex align-items-center justify-content-between">
                  <button [disabled]="!current.file.text && !current.file.binary" (click)="restoreBackup(current.hash)" class="btn btn-success" type="button" name="button">Установить</button>
                  <button [disabled]="!current.file.text && !current.file.binary" (click)="removeBackup()" class="btn btn-danger ml-3" type="button" name="button"><fa-icon [icon]="fa.trash"></fa-icon></button>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-fill viewer-code overflow-auto">
            <ng-container *ngIf="current.file.binary">
              <div class="d-flex flex-fill justify-content-center align-items-center flex-column">
                <h3 class="text-muted"><fa-icon [icon]="fa.sign"></fa-icon></h3>
                <span class="text-muted">Binary File</span>
              </div>
            </ng-container>
            <ngx-codemirror
              *ngIf="!current.file.binary && current.file.text"
              #editor
              [ngModel]="current.file.text"
              [options]="codeMirrorSettings">
            </ngx-codemirror>
            <div *ngIf="!current.file.text && !current.file.binary" class="d-flex flex-fill justify-content-center align-items-center">
              <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
            </div>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </ng-container>
</div>
