@import 'colors';
:host {
  width: 100%;
  height: 100%;
}
h4 {
  font-weight: lighter;
  margin: 5px 0px 5px 0px;
}
p, a, span, button, div {
  font-size: 13px;
}
.head {
  height: 52px;
  width: 100%;
  background: $secondary;
  h6 {
    font-weight: 300;
    line-height: 52px;
    fa-icon {
      margin-right: 15px;
    }
  }
}
.list {
  flex: 1 1 70%;
}
.changes-card {
  margin: 5px 15px 5px 15px;
  background: $filetree;
  & > div {
    padding: 10px;
  }
  &-date {
    width: 100px;
  }
}
.elapse {
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.binds {
  margin-bottom: 5px;
  margin-left: 15px;
  position: relative;
  z-index: 1;
  .bind {
    &:before {
      position: relative;
      background: inherit;
      display: inline-block;
      transform-origin: top left;
      transform: rotate(-90deg);
      width: auto;
      top: calc(55% + 20px);
      left: -6px;
      padding: 0px 5px 0px 5px;
      border-radius: 3px;
      height: 16px;
      font-size: 10px;
      content: attr(data-filename);
      text-shadow: 1px 0 0 #00000030, -1px 0 0 #00000030, 0 1px 0 #00000030, 0 -1px 0 #00000030, 1px 1px #00000030, -1px -1px 0 #00000030, 1px -1px 0 #00000030, -1px 1px 0 #00000030;
      z-index: 1;
    }
    &-rib {
      &:before {
        position: absolute;
        background: inherit;
        left: -2px;
        top: -2px;
        border-radius: 3px;
        height: 7px;
        width: 7px;
        content: ' ';
        z-index: 0;
      }
    }
  }
}
.backups-list {
  background: $filetree;
}
.viewer {
  &-code {
    background: $texteditor;
    overflow: hidden;
    pre {
      color: $text-secondary;
      padding: 10px;
      white-space: pre-wrap;
      margin-bottom: 0px;
    }
  }
  &-hide {
    width: 45px;
    margin-right: 10px;
    flex: 1 1 45px;
    svg {
      width: 20px;
      transform: rotate(-90deg);
    }
  }
  &-head {
    background: $topper;
    &-elapse {
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
    }
    span {
      font-family: 'Consolas';
      white-space: nowrap;
      overflow: hidden;
    }
    i {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 10px;
      border-radius: 100%;
    }
    button {
      min-height: 40px;
    }
  }
  &-bottom {
    padding: 5px;
    button {
      min-height: 20px;
    }
  }
}
