<div class="row pb-4">
  <div class="col-12">
    <h6>Фильтр</h6>
    <small>Отображает только нужные процессы, остальные выпадают из поиска.</small>
    <form class="filter-form" [formGroup]="filterForm" (change)="setFilter()">
      <div class="row">
        <div *ngFor="let process of processes.sched2" class="col-6">
          <!-- <label class="pseudo" for="weap">
          </label> -->
          <label class="form-check-label pseudo" for="{{process.control}}">
            <input
            class="form-check-input"
            type="checkbox"
            [id]="process.control"
            [name]="process.control"
            [formControlName]="process.control">
            <i></i>
            <span class="badge no-select badge-{{process.type}}">{{process.translate}}</span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
