<div class="col-12">
  <h6>Фильтр</h6>
  <hr>
  <form class="filter-form" [formGroup]="filterForm" (change)="setFilter()">
    <div *ngFor="let process of processes.sched2" class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      [id]="process.control"
      [name]="process.control"
      formControlName="{{process.control}}">
      <label class="form-check-label" for="weap">
        <span class="badge no-select badge-{{process.type}}">{{process.translate}}</span>
      </label>
    </div>
    <!-- <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="spawn"
      name="spawn"
      formControlName="spawn">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="preproc"
      name="preproc"
      formControlName="preprocs">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="kd"
      name="kd"
      formControlName="killDeath">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="cd"
      name="cd"
      formControlName="connection">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="col"
      name="col"
      formControlName="colChange">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="idnick"
      name="idnick"
      formControlName="idnick">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="cmd"
      name="cmd"
      formControlName="cmd">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="litpm"
      name="litpm"
      formControlName="litPm">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div>
    <div class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      id="litgr"
      name="litgr"
      formControlName="litGr">
      <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
      </label>
    </div> -->
  </form>
</div>
