<div class="col-12">
  <h6>Фильтр</h6>
  <hr>
  <form class="filter-form" [formGroup]="filterForm" (change)="setFilter()">
    <div *ngFor="let process of processes.sched2" class="form-check">
      <input
      class="form-check-input"
      type="checkbox"
      [id]="process.control"
      [name]="process.control"
      [formControlName]="process.control">
      <label class="form-check-label" for="weap">
        <span class="badge no-select badge-{{process.type}}">{{process.translate}}</span>
      </label>
    </div>
  </form>
</div>
