<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="col-12 h-100">
      <div class="row h-100">
        <div class="col-md-4 col-lg-3 col-xl-2 filetree pr-0 pl-0 h-100">
          <div class="progress">
            <div class="progress-bar" [style.width.%]="progress" role="progressbar" attr.aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <file-tree
            (resync)="reloadFileTree()"
            (chooseFileEvent)="getConfig($event)"
            (chooseDirEvent)="chooseDir($event)"
            [items]="files" [current]="currentFilePath"
            (addNew)="addNewFile($event)">
          </file-tree>
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10 texteditor h-100">
          <ng-template #textEditorBlock>
            <div class="text-edit-block d-flex flex-row">
              <div class="d-flex align-self-center w-100 text-center">
                <h4><fa-icon [icon]="fa.conf"></fa-icon><br>Выберите кофигурационный файл из списка, чтобы приступить к редактированию или добавьте новый, с помощью комбинации <span class="badge badge-dark"> ALT+A </span></h4>
              </div>
            </div>
          </ng-template>
          <text-editor [file-info]="currentFilePath" [textplain]="textplain" *ngIf="textplain !== undefined; else textEditorBlock"></text-editor>
        </div>
      </div>
    </div>
  </div>
</div>
