<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="col-12 h-100">
      <div class="row h-100">
        <div class="col-sm-3 col-lg-3 filetree pr-0 pl-0 h-100">
          <file-tree (chooseFileEvent)="getConfig($event)" [items]="files" [current]="currentFilePath"></file-tree>
        </div>
        <div class="col-sm-9 col-lg-9 texteditor h-100">
          <ng-template #textEditorBlock>
            <div class="text-edit-block d-flex flex-row">
              <div class="d-flex align-self-center w-100 text-center">
                <h4>Выберите кофигурационный файл из списка, чтобы приступить к редактированию</h4>
              </div>
            </div>
          </ng-template>
          <text-editor [file-info]="currentFilePath" [textplain]="textplain" *ngIf="textplain !== undefined; else textEditorBlock"></text-editor>
        </div>
      </div>
    </div>
  </div>
</div>
