@import 'scss/_colors';
:host {
  .filetree {
    font-size: 13px;
    background: $filetree;
    border-right: 1px solid $secondary;
  }
  .texteditor {
    overflow: auto;
    background: $secondary;
  }
  .text-edit-block {
    color: $text;
    text-align: center;
    height: 100%;
    h4 {
      opacity: 0.2;
      font-weight: 300;
    }
  }
}
