@import 'scss/_colors';
:host {
  .progress {
    height: 2px;
    margin-bottom: -2px;
    border-radius: none;
    background: none!important;
    .progressbar {
      background: $primary!important;
    }
  }
  .filetree {
    font-size: 13px;
    background: $filetree;
    border-right: 1px solid $secondary;
  }
  .texteditor {
    // overflow: auto;
    background: $secondary;
  }
  .text-edit-block {
    color: $text;
    text-align: center;
    height: 100%;
    h4 {
      width: 100%;
      opacity: 0.2;
      font-weight: 300;
    }
  }
}
