@import "colors";
:host {
  color: $text;
  text-align: center;
  height: 100%;
  h4 {
    width: 100%;
    opacity: 0.2;
    font-weight: 300;
    .badge {
      font-weight: inherit !important;
    }
  }
  h3 {
    width: 100%;
    font-weight: 300;
  }
}
