  <div *ngIf="electron.isElectron" class="col-12 top-bg">
    <div class="row d-flex">
      <div class="native-dragzone flex-fill">
        <lty-icon name="lty-logo"></lty-icon>
        <small class="native-dragzone label no-select">LARS</small>
      </div>
      <div [@extrudeRight] *ngIf="update" placement="bottom" ngbTooltip="Обновление готово" class="d-flex align-self-end btn-group top-btn" role="remote-group">
          <button
          type="button"
          class="btn btn-topnative pl-2 pr-2 top-btn update"
          name="profile-button">
            <span><fa-icon [icon]="fa.update"></fa-icon></span>
          </button>
      </div>
      <div *ngIf="authenticated" class="d-flex align-self-end btn-group top-btn" role="remote-group">
        <div *ngIf="userService.getUserInfo()?.gr == 10" ngbDropdown [autoClose]="'outside'" class="btn-native-profile">
          <button
          ngbDropdownToggle
          type="button"
          class="btn-profile pl-2 pr-2 top-btn"
          name="profile-button">
            <span>Действия с сервером</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="M24.69 9.83L14.66 20.77L4.69 9.83" id="a1sXzGPVRt"></path></defs><g><g><g><g><use xlink:href="#a1sXzGPVRt" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg>
          </button>
        <div ngbDropdownMenu aria-labelledby="dropdownTopper">
            <div data-content="Статус сервера" class="status" ngbDropdownItem>
              <i [ngClass]="{
                 'led-loading': ( server.state == 'loading' ||  server.state == 'rebooting'),
                 'led-error': ( server.state == 'error' ||  server.state == 'stoped')
              }"
              class="led">
              </i>{{(state | async) | status}}</div>
            <div class="dropdown-divider"></div>
            <button [disabled]="(state | async) == 'loading' || (state | async) == 'rebooting' || (state | async) == 'stoped'" (click)="server.reboot()" ngbDropdownItem><fa-icon [icon]="fa.redo"></fa-icon> <span>Рестарт</span></button>
            <button [disabled]="(state | async) == 'loading' || (state | async) == 'rebooting' || (state | async) == 'live'" (click)="server.launch()" ngbDropdownItem><fa-icon [icon]="fa.play"></fa-icon> <span>Запуск</span></button>
            <button [disabled]="(state | async) == 'loading' || (state | async) == 'rebooting' || (state | async) == 'stoped'" (click)="server.stop()" ngbDropdownItem><fa-icon [icon]="fa.stop"></fa-icon> <span>Выключение</span></button>
          </div>
        </div>
      </div>
      <div class="d-flex align-self-end btn-group" role="remote-group">
        <div *ngIf="authenticated" ngbDropdown autoClose="outside" class="btn-native-profile">
          <button
          ngbDropdownToggle
          type="button"
          class="btn-profile pl-2 pr-2"
          name="profile-button">
            <img src="{{ authenticated.avatar }}"/><span>{{ authenticated.name }}</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="M24.69 9.83L14.66 20.77L4.69 9.83" id="a1sXzGPVRt"></path></defs><g><g><g><g><use xlink:href="#a1sXzGPVRt" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownTopper">
            <button (click)="openForum()" ngbDropdownItem><fa-icon [icon]="fa.comm"></fa-icon> <span>Форум</span></button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="userService.logOut()"><fa-icon [icon]="fa.signout"></fa-icon> <span>Выход</span></button>
          </div>
        </div>
        <button *ngIf="electron.isElectron" type="button" (click)="window.min()" class="btn btn-topnative native-min"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="" id="c2UyV86x7F"></path><path d="M25.05 20.46L4.95 20.46" id="a5uQaXHvxt"></path></defs><g><g><g><g><use xlink:href="#c2UyV86x7F" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#a5uQaXHvxt" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg></button>
        <button *ngIf="electron.isElectron" type="button" (click)="window.close()" class="btn btn-topnative native-close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="" id="g6pDbVCYY8"></path><path d="M5.11 5.53L25.11 25.53" id="e3IggXtpF"></path><path d="M5.11 25.53L25.11 5.53" id="cORYOauw"></path></defs><g><g><g><g><use xlink:href="#g6pDbVCYY8" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#e3IggXtpF" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#cORYOauw" opacity="1" fill-opacity="0" stroke-width="2" stroke-opacity="1"></use></g></g></g></g></svg></button>
      </div>
    </div>
  </div>
