@import '_colors';
@import '_native';
@import "animations";

:host {
  .status {
    pointer-events: none;
    .led {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #63d87d;
      border-radius: 100%;
      position: relative;
      top: -1px;
      transition: 0.2s linear;
      margin-right: 15px;
      margin-left: 5px;
      &-loading {
        background: #ffc107!important;
        animation-name: blink;
        animation-duration: .5s;
        animation-iteration-count: infinite;
      }
      &-error {
        background: #dc3545!important;
        &:before {
          position: absolute;
          border-radius: 100%;
          content: ' ';
          background: #dc3545;
          width: 6px;
          height: 6px;
          animation-name: blinknscale;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
  @include blink();
  @include blinknscale(1, 2.5);
  lty-icon {
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 3px;
    margin-left: 16px;
    top: 0px;
    .lty-icon {
      stroke-width: 5px;
    }
  }
  .logo-img {
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 24px;
  }
  .label {
    position: relative;
    left: 25px;
    font-size: 12px;
    opacity: 0.7;
  }
  .top-btn {
    height: 35px;
  }
  .update {
    background: var(--success)!important;
    transition: .2s ease;
    opacity: 0.9;
    min-width: inherit!important;
    &:hover {
      opacity: 1;
    }
  }
  .btn-topnative {
    width: 35px;
    height: 35px;
    background: $topper;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    color: $text;
    svg {
      width: 15px;
      height: auto;
      position: relative;
      top: -3px;
      path {
        stroke: #ffffff;
        stroke-width: 2px;
      }
    }
  }
  .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
    margin-left: 0px!important;
  }
  @include open();
  .ddOpened {
    animation: open .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translate(0px, 0%);
  }
  @include close();
  .ddClosed {
    animation: close .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translate(0px, -10%);
  }
}
