:host {
  position: relative;
  z-index: 100;
  .logo-img {
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 24px;
  }
  .label {
    position: relative;
    left: 25px;
    font-size: 12px;
    opacity: 0.7;
  }
}
