<div class="container-fluid h-100 g-0 sentinel">
  <div class="d-flex flex-column h-100 w-100 main">
    <div class="d-flex flex-shrink-0">
      <lars-topbar></lars-topbar>
      <!-- <app-toasts aria-live="polite" aria-atomic="true"></app-toasts> -->
    </div>
    <div class="d-flex flex-fill flex-row main">
      <div class="d-flex app">
        <div class="d-flex flex-fill app-main overflow-hidden">
          <div class="app-layers d-flex flex-fill flex-column">
            <div aria-hidden="false" class="layer platform-win32">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
