:host {
  font-size: 14px;
  input, button {
    font-size: 13px;
  }
  lty-icon {
    margin-right: 10px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: relative;
    top: -2px;
  }
  h4, span {
    color: #fdfdfd40;
      font-weight: 300;
    }
}
