<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="d-flex flex-column justify-content-start h-100 w-100">
      <div class="d-flex align-self-start flex-column w-100">
        <div class="col-12 head">
          <div class="row h-100">
            <div class="h-100 col-3 align-items-center d-flex">
              <h6 class="mb-0"><fa-icon [icon]="fa.ban"></fa-icon>Банлист</h6>
            </div>
            <div class="h-100 col-2 align-items-center d-flex">
              <ng-select [items]="searchTypes"
              bindLabel="val"
              [searchable]="false"
              [clearable]="false"
              bindValue="id"
              class="custom w-100"
              [(ngModel)]="currentSearchType">
            </ng-select>
            </div>
            <div class="h-100 col-7 form-group mb-0 align-items-center d-flex">
              <input class="form-control"
                aria-describedby="button-path"
                placeholder="Поиск"
                type="text"
                required>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="bans; else empty" class="d-flex flex-fill">
        <div class="col-12">
          <div class="row">
            <table class="table w-100">
              <thead class="overflow-auto">
                <th>Тип бана</th>
                <th>Параметр</th>
                <th>Правило</th>
                <th>IP</th>
                <th>ID игрока</th>
                <th>Кем забанен</th>
                <th>Время бана</th>
                <th>Авторазбан</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let ban of bans">
                  <td>
                    <kbd *ngIf="ban.serial_cn">CN</kbd>
                    <kbd *ngIf="ban.ip">IP</kbd>
                    <kbd *ngIf="ban.serial_as && ban.serial_ss">AS&SS</kbd>
                  </td>
                  <td>{{ ban.serial_cn || ban.serial_as + '&' + ban.serial_ss  }}</td>
                  <td>
                    <span class="d-none d-xl-block">{{ ban.rule | rules }}</span>
                    <span class="d-block d-xl-none">{{ ban.rule }}</span>
                  </td>
                  <td>{{ ban.ip }}</td>
                  <td>{{ ban.user_id }}</td>
                  <td>{{ ban.admin_id }}</td>
                  <td>{{ ban.banned_from | date:'d MMM yy, HH:mm:ss'}}</td>
                  <td *ngIf="ban.banned_to; else banned_permanently">{{ ban.banned_to | date:'d MMM yy, HH:mm:ss' }}</td>
                  <td><button class="btn btn-light" type="button" name="button">Разбанить</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #empty>
        <div class="d-flex flex-fill flex-column justify-content-center align-items-center w-100">
          <span class="text-muted">Банлист пуст</span>
        </div>
      </ng-template>
      <ng-template #banned_permanently>
        <td>Никогда</td>
      </ng-template>
    </div>
  </div>
</div>
