<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
      <h4 class="ban"><lty-icon name="lty-ban"></lty-icon>Банхаммер</h4>
      <span>Раздел в разработке</span>
    </div>
    <!-- <div class="input-group mt-2">
      <input name="quest" type="text" class="form-control shadow-none align-middle input-dark" placeholder="Введите ник игрока или серийный номер"/>
    </div> -->
  </div>
</div>
