<div class="containter-fluid g-0 h-100">
  <div class="h-100 d-flex flex-column flex-fill align-items-stretch">
    <div class="container-fluid adm-head">
      <div class="d-flex align-self-start justify-content-between align-items-center flex-row w-100">
        <div class="d-flex">
          <h6><fa-icon [icon]="fa.agent"></fa-icon>{{ 'Admins.Title' | translate }}</h6>
        </div>
        <div class="d-flex">
          <button [disabled]="userInfo.main_group !== 10" (click)="open(addAdminModal)" class="btn btn-dark add-adm" type="button" name="button">
            <fa-icon class="mr-2" [icon]="fa.agent"></fa-icon>&nbsp;
            {{ 'Admins.AddAdminButton' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid h-100">
      <div class="row">
        <div class="col-12">
          <div class="row">
              <table class="table w-100">
                <thead>
                  <th>{{ 'Admins.List.UserId' | translate }}</th>
                  <th>{{ 'Admins.List.Nickname' | translate }}</th>
                  <th>{{ 'Admins.List.MainGroup' | translate }}</th>
                  <th class="text-muted">{{ 'Admins.List.SideGroups' | translate }}</th>
                  <th></th>
                </thead>
                <tbody *ngIf="$admins | async as admins">
                  <tr *ngFor="let admin of admins">
                    <td class="td-avatar">
                      <img class="avatar" [src]="admin.user_avatar" [alt]="admin.username">
                      <kbd>{{ admin.user_id }}</kbd>
                    </td>
                    <td class="td-username">
                      <a (click)="userLink(admin.user_id)">{{ admin.username }}</a><br>
                      <!-- <small>{{ admin.user_email }}</small><br> -->
                      <!-- <small *ngIf="userActivities[admin.username]">
                        <fa-icon [icon]="adminActivityIcon(userActivities[admin.username])"></fa-icon>
                        {{ userActivities[admin.username] | userAction }}
                      </small> -->
                    </td>
                    <td>
                      <ng-select [items]="roles"
                      bindLabel="val"
                      [searchable]="false"
                      [clearable]="false"
                      bindValue="id"
                      class="custom"
                      [disabled]="userInfo.main_group !== 10"
                      (change)="changeAdminGroup(admin.username, admin.user_id, admin.main_group)"
                      [(ngModel)]="admin.main_group">
                    </ng-select>
                  </td>
                  <td class="secondary-groups">
                    <ng-container *ngTemplateOutlet="tabgroup; context: { admin }"></ng-container>
                    <!-- <ng-select [items]="subRoles"
                    bindLabel="val"
                    [searchable]="false"
                    [clearable]="false"
                    bindValue="id"
                    class="custom"
                    [disabled]="userInfo.main_group !== 10 || (admin.main_group == 10 || admin.main_group == 9)"
                    (change)="changeSecondaryAdminGroup(admin.username, admin.user_id, admin.secondary_group)"
                    [(ngModel)]="admin.secondary_group">
                  </ng-select> -->
                </td>
                <td class="td-rm">
                  <!-- <button (click)="removeAdmin(admin.username, admin.user_id)" [disabled]="userInfo.main_group !== 10" ngbTooltip="Исключить админа" placement="left" class="btn btn-dark rm-adm btn-36" type="button" name="button"><fa-icon [icon]="fa.agent"></fa-icon></button> -->
                </td>
              </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="admins.length == 0" class="loader h-100 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center">
          <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
        </div>
      </div>

    </div>
    </div> -->
</div>
<ng-template #addAdminModal let-modal>
  <div class="modal-header">
    <h5>{{ 'Admins.AddAdminModal.Title' | translate }}</h5>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body sentinel">
    <form [formGroup]="addAdminForm" (ngSubmit)="addNewAdmin()" class="d-flex flex-row justify-content-center align-items-center">
      <div class="modal-window d-flex flex-column">
        <div class="modal-window-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text"
                  ngbAutofocus
                  [attr.placeholder]="'Admins.List.Nickname' | translate"
                  class="form-control"
                  id="nicknameInput"
                  aria-describedby="nickname"
                  formControlName="nickname"
                  required>
                  <ng-select [items]="roles"
                    bindLabel="val"
                    [searchable]="false"
                    [clearable]="false"
                    bindValue="id"
                    class="custom mt-2"
                    formControlName="mainGroup">
                  </ng-select>
                  <ng-select [items]="subRoles"
                    bindLabel="val"
                    [searchable]="false"
                    [clearable]="false"
                    bindValue="id"
                    class="custom mt-2"
                    formControlName="secondaryGroup">
                  </ng-select>
                  <span class="text-muted modal-description">{{ 'Admins.AddAdminModal.Description' | translate }}</span>
                </div>
              </div>
            <div class="col-6">
              <table class="table no-select text-small">
                <thead>
                  <th>{{ 'Admins.AddAdminModal.Group' | translate }}</th>
                  <th>{{ 'Admins.AddAdminModal.Logs' | translate }}</th>
                  <th>{{ 'Admins.AddAdminModal.BanList' | translate }}</th>
                  <th>{{ 'Admins.AddAdminModal.MapEditor' | translate }}</th>
                  <th>{{ 'Admins.AddAdminModal.ConfigFiles' | translate }}</th>
                  <th>{{ 'Admins.AddAdminModal.AdmStaff' | translate }}</th>
                </thead>
                  <tr>
                    <td>{{ 'Admins.GroupNames.Applicant' | translate }}</td>
                    <td>✓</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{ 'Admins.GroupNames.Admin' | translate }}</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{ 'Admins.GroupNames.MapStuart' | translate }}</td>
                    <td>✓</td>
                    <td></td>
                    <td>✓</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{ 'Admins.GroupNames.ConfigStuart' | translate }}</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td></td>
                    <td>✓</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{ 'Admins.GroupNames.BackupStuart' | translate }}</td>
                    <td>✓</td>
                    <td></td>
                    <td>✓</td>
                    <td>✓</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{ 'Admins.GroupNames.Developer' | translate }}</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
        <div class="modal-window-footer text-center">
          <div class="col-12">
            <div class="row">
              <div class="col-6 pl-0">
                <button [disabled]="!addAdminForm.valid" type="submit" class="btn btn-light w-100" name="button">{{ 'Admins.AddAdminModal.Confirm' | translate }}</button>
              </div>
              <div class="col-6 pr-0">
                <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-danger w-100" name="button">{{ 'Admins.AddAdminModal.Cancel' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #tabgroup
  let-admin="admin">
  <ng-container *ngLet="userInfo.main_group === 10 as isDev">
    <div *ngIf="admin.main_group !== 10" class="d-flex flex-row">
      <div *ngFor="let group of admin.permissions"
        class="tab group-{{group}}">
        <span class="tab-name">
          {{ group | role }}
        </span>
        <button *ngIf="isDev" (click)="deleteAdminSecondaryGroup(admin.user_id, group)" class="btn btn-dark">
          <lty-icon name="lty-close"></lty-icon>
        </button>
      </div>
      <div *ngIf="isDev" 
        ngbDropdown
        class="d-inline-block">
        <button *ngIf="admin.permissions.length < 3"
          type="button"
          ngbDropdownToggle
          [id]="'roles-' + admin.user_id"
          class="btn btn-dark h-100">
          <fa-icon [icon]="fa.faPlus"></fa-icon>
        </button>
        <div ngbDropdownMenu [attr.aria-labelledby]="'roles-' + admin.user_id">
          <button *ngFor="let newGroup of subRoles"
            [disabled]="admin.permissions.includes(newGroup.id)"
            (click)="addAdminSecondaryGroup(admin.user_id, newGroup.id)"
            ngbDropdownItem>
            {{ newGroup.val }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>