@import 'colors';
@import 'popup';

:host {
  font-size: 11px;
  height: 100%;
  .playerlog {
    background: $texteditor;
  }
  .btn-36 {
    height: 26px;
    width: 26px;
  }
  .adm-head {
    height: 50px;
    width: 100%;
    background: $secondary;
    h6 {
      font-weight: 300;
      line-height: 50px;
      margin: 0;
      fa-icon {
        margin-right: 15px;
      }
    }
  }
  table {
    color: #fdfdfd;
    margin-bottom: 0px;
    height: 100%;
    th {
      border: none;
      background-color: $underpanel-hover;
      text-align: center;
      font-weight: lighter;
      height: 30px;
      vertical-align: middle;
    }
    tr {
      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }
    td {
      vertical-align: middle;
      border-top: none;
      border-bottom: none;
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
      &:last-child {
        border: none;
      }
    }
  }
  a {
    margin-left: 5px;
    margin-right: 5px;
    transition: .1s ease;
    color: $text;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #fdfdfd;
    }
  }
  .td-avatar {
    width: 60px;
    kbd {
      position: relative;
      top: -12px;
    }
  }
  .td-rm {
    width: 40px;
  }
  .rm-adm {
    position: relative;
    &:after {
      content: "";
      width: 10px;
      height: 2px;
      background: red;
      position: absolute;
      transform: rotate(45deg);
      margin-left: 4px;
      margin-top: -17px;
    }
    &:before{
      content: "";
      width: 10px;
      height: 2px;
      background: red;
      position: absolute;
      transform: rotate(-45deg);
      margin-left: 5px;
      margin-top: 3px;
    }
  }
  .td-username {
    width: 150px;
  }
  .avatar {
    margin-top: 10px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
  }
}

.modal-description {
  font-size: smaller;
}
