@import 'colors';
@import 'animations';

$container-height: 50px;
$container-pad: 4px;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

:host {
    background: $secondary;
    padding: $container-pad;
    height: $container-height;

    @include flex-row();
}

.editor {
    &-navigation {
        flex-grow: 1;
        
        @include flex-row();

        input, button {
            font-size: 13px;
        }
    }
}

.input {
    &-group {
        input {
            border: none;
            &:active,
            &:focus {
              box-shadow: none;
            }
          }
    }
}

.spin {
    transform-origin: 11.5px 10.5px;
    position: relative;
    animation: spin 0.5s ease infinite;
    display: block;
}



// .input-group {
//     input {
//       border: none;
//       &:active,
//       &:focus {
//         box-shadow: none;
//       }
//     }
//     .big-drop {
//       width: 230px;
//     }
//     .date {
//       max-width: 34px;
//       height: 100%;
//       &-dropdown {
//         color: $text;
//         padding-left: 15px;
//         padding-right: 15px;
//         padding-top: 5px;
//         padding-bottom: 5px;
//         z-index: 1;
//         .input-group {
//           input {
//             background-color: $dropdown !important;
//           }
//         }
//         hr {
//           margin-top: 10px;
//           margin-bottom: 0px;
//         }
//         fa-icon {
//           margin-left: 5px;
//           margin-right: 10px;
//         }
//         .input-group-text {
//           color: $text;
//           background: none;
//           border: none;
//           font-size: inherit;
//           margin-right: 10px;
//         }
//       }
//     }
//   }