<div class="container-fluid overflow-auto">
  <div class="col-12 pt-3 pb-3">
    <div class="d-flex flex-row justify-content-between align-items-center mb-2">
      <div>
        <h6 class="display-6">Оповещения</h6>
        <small>Включает или отключает системные оповещения</small>
      </div>
      <button class="btn btn-success" type="button" (click)="testNotification()" name="button">Тест оповещений</button>
    </div>
  
    <hr>
    <form [formGroup]="settings" (change)="setup()">
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Включить звук оповещения</h6>
          <small>Включить системный звук при оповещении</small>
        </div>
        <label class="switch" for="checkbox6">
          <input formControlName="silent" type="checkbox" id="checkbox6" />
          <div class="slider round"></div>
        </label>
      </div>
      <hr>
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Оповещения о жалобе на игрока</h6>
          <small>Жалобы на читеров, мат и т.д</small>
        </div>
        <label class="switch" for="checkbox2">
          <input formControlName="playerReport" type="checkbox" id="checkbox2" />
          <div class="slider round"></div>
        </label>
      </div>
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Оповещения об автоматическом бане игрока</h6>
          <small>Срабатывания автоматических банов</small>
        </div>
        <label class="switch" for="checkbox3">
          <input formControlName="autoBan" type="checkbox" id="checkbox3" />
          <div class="slider round"></div>
        </label>
      </div>
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Оповещения об автоматической блокировке игрока</h6>
          <small>Срабатывания античита</small>
        </div>
        <label class="switch" for="checkbox1">
          <input formControlName="autoBlock" type="checkbox" id="checkbox1" />
          <div class="slider round"></div>
        </label>
      </div>
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Оповещения об отключении сервера</h6>
        </div>
        <label class="switch" for="checkbox4">
          <input formControlName="serverShutdown" type="checkbox" id="checkbox4" />
          <div class="slider round"></div>
        </label>
      </div>
      <div class="d-flex justify-content-between align-content-center mb-2">
        <div class="">
          <h6>Оповещения о перезагрузке сервера</h6>
        </div>
        <label class="switch" for="checkbox5">
          <input formControlName="serverRestart" type="checkbox" id="checkbox5" />
          <div class="slider round"></div>
        </label>
      </div>
    </form>
  </div>
</div>
