@import 'colors';
$height: 15px;
:host {
  .expanded {
    transform: none!important;
  }
  .dropdown-menu {
    padding: 0rem;
    z-index: 4!important;
    // width: 80px;
    // left: 16px!important;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    .no-icon {
      margin-left: 2rem;
    }
    .dropdown-item {
      padding-left: 10px;
      padding-right: 5px;
    }
  }
  .under-toggler {
    padding-left: 1rem;
  }
  .items-expander {
    // transform-origin: 7px 7px;
    transition: .05s linear;
    height: $height;
    width: $height;
    border-radius: 100%;
    border: none;
    margin-right: 0.4em;
    display: inline-block;
    position: relative;
    top: 4px;
    background: none;
    padding: 0px 0px 0px 0px;
    margin-left: -0.2rem;
    transform: rotate(-90deg);
    svg {
      stroke-width: 3;
      width: $height;
      height: auto;
      display: inline-block;
      // transform: translateY(-3px);
      position: relative;
      top: -6px;
    }
  }
  .item {
    line-height: 26px;
    width: 100%;
    border-left: 1px solid transparent;
  }
  .expandedTab {
    border-left: 1px solid #717686;
    transition: .1s ease;
    &:before {
      // width: 5px;
      height: 5px;
      content: '-';
      font-size: 24px;
      color: #717686;
      font-weight: 200;
      line-height: 0px;
      padding-left: 5px;
      max-width: 5px;
      border-radius: 3px;
      background: #717686;
      position: absolute;
      margin-left: -3px;
      margin-top: 11px;
      transition: .1s ease;
    }
  }
  .items {
    .active, .active-dir {
      color: #82AAFF;
      background: $dropdown;
    }
    .active-dir {      
      position: relative;
      z-index: 5;
    }
    & > .item {
      padding-left: 1rem;
      .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 15px;
        padding-left: 5px;
        cursor: pointer;
        &:active, &:focus, &:hover {
          text-decoration: underline;
        }
        // &:active, &:focus {
        //   background: $dropdown;
        // }
      }
    }
    line-height: 26px;
  }
  .fileover {
    background: #fdfdfd20;
    // * .expandedTab {
      border-left: 1px solid $text-secondary;
      &:before {
        color: $text-secondary;
        background: $text-secondary;
      }
    // }
  }
  fa-icon {
    font-size: $height;
    margin-right: 0.5em;
    margin-left: 0.2rem;
    position: relative;
    top: 1px;
  }
  lty-icon {
    width: 11px;
    position: relative;
    top: -2px;
    margin-right: 0.5em;
    margin-left: 1.2rem;
  }
}
