@import 'colors';

:host {
  margin-bottom: 1px;
  background: $filetree;
  &.active {
    background: #242427;
    &:hover {
      background: #242427!important;
    }
  }
  &:hover {
    background: #303033;
  }
}

.backups-list-item {
  width: 100%;
  max-height: 40px;
  cursor: pointer;
  .item {
    overflow: hidden;
    padding: 0px 5px 0px 5px;
    white-space: nowrap;
    margin-right: 3px;
    font-size: 12px;
    flex: 1 1 25%;
    overflow: hidden;
    &-elapsed {
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
  &_avatar {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
  }
  &_nickname {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
  }
  &_icon{
    padding: 0 15px 0 15px;
  }
  .sub {
    min-width: 45px;
  }
  .marker {
    width: 3px;
    padding: 35px 0px 35px 0px;
    background: inherit;
    flex: 0 0 8px;
  }
  button {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    min-height: 40px;
  }
}
