<div class="backups-list-item d-flex flex-row align-items-center overflow-hidden">
  <div class="d-flex h-100">
    <div data-width="-50" class="marker d-flex flex-fill"></div>
  </div>
  <div class="d-flex flex-row justify-content-stretch h-100 align-items-center flex-fill">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <img class="backups-list-item_avatar d-flex" [src]="backup.user.avatar" [alt]="backup.user.nickname"/>
      <div class="backups-list-item_nickname d-flex">{{ backup.user.nickname }}</div>
    </div>
    <div class="d-flex mr-2 text-muted backups-list-item_icon">
      <fa-icon [icon]="backup.action === 0 ? fa.trash : fa.pen"></fa-icon>
    </div>
    <div class="item d-flex flex-column no-select">
      <div class="d-flex flex-fill">
        <span class="item-elapsed" [title]="backup.file.name">
          {{ backup.file.name }}
        </span>
      </div>
      <div class="d-flex text-muted flex-fill">
        <span class="item-elapsed" [title]="backup.file.mime">
          {{ backup.file.mime}}
        </span>
      </div>
    </div>
    <div class="item d-flex flex-column no-select flex-fill">
      <div class="d-flex flex-fill">
        <div class="item-elapsed">
          <ng-container *ngLet="backup.date | date:'d MMM yy, HH:mm:ss' as date">
            <span class="elapse" [title]="date">{{ date }}</span>
          </ng-container>
        </div>
      </div>
      <div class="d-flex flex-fill">
        <div class="item-elapsed">
            <small class="elapse text-muted monospace" [title]="backup.hash">{{ backup.hash }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
