@import 'colors';
h3 {
  font-weight: lighter;
}
p, a, span, button, div {
  font-size: 13px;
}
.head {
  background: #09090918;
  border-bottom: 1px solid $secondary;
}
.history {
  background: $secondary;
  &-head {
    border-bottom: 1px solid $underpanel;
  }
}
.backups-list {
  // overflow-x: hidden;
}
.changes-card {
  margin: 5px 15px 5px 15px;
  background: $filetree;
  & > div {
    padding: 10px;
  }
  &-date {
    width: 100px;
  }
}
.elapse {
  // width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.binds {
  margin-bottom: 5px;
  position: relative;
  .bind {
    &:before {
      position: relative;
      background: inherit;
      display: inline-block;
      transform-origin: top left;
      transform: rotate(-90deg);
      width: auto;
      top: 55%;
      left: -6px;
      padding: 0px 5px 0px 5px;
      border-radius: 3px;
      height: 16px;
      font-size: 10px;
      content: attr(data-filename);
    }
    &-rib {
      &:before {
        position: absolute;
        background: inherit;
        // width: auto;
        left: -2px;
        top: -2px;
        border-radius: 3px;
        height: 7px;
        width: 7px;
        // font-size: 10px;
        content: ' ';
      }
    }
  }
}
.viewer {
  // min-height: 200px;
  flex: 0 0 30%;
  &-code {
    background: $filetree;
    pre {
      color: $text-secondary;
      padding: 10px;
      white-space: pre-wrap;
      margin-bottom: 0px;
    }
  }
  &-hide {
    width: 45px;
    margin-right: 10px;
    svg {
      width: 20px;
      transform: rotate(-90deg);
    }
  }
  &-head {
    background: $underpanel;
    padding: 5px 15px 5px 10px;
    span {
      font-family: 'Consolas';
    }
    i {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 10px;
      border-radius: 100%;
    }
    button {
      min-height: 40px;
    }
  }
  &-bottom {
    border-top: 1px solid $secondary;
    background: $underpanel;
    padding: 5px;
    button {
      min-height: 20px;
    }
  }
}
