<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="col-12 h-100">
      <div class="row h-100">
        <div class="col-12 h-100">
          <div class="row h-100">
            <div class="d-flex flex-row h-100 w-100">
              <div class="d-flex list flex-column h-100">
                <div class="d-flex align-self-start head w-100">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-7">
                        <h4 class="mt-2 mb-2">Раздел резервных копий</h4>
                      </div>
                      <div class="col-5">
                        <div class="d-flex h-100 align-items-center">
                          <div class="d-flex flex-row align-items-center">
                            <fa-icon class="mr-2 align-self-start" [icon]="fa.exCircle"></fa-icon>
                            <small>ВНИМАНИЕ: Удаление и перезапись бэкапов может привести к безвозвратному удалению данных с рабочего игрового сервера</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex h-100 flex-row overflow-auto pl-2">
                  <div #binds class="binds"></div>
                  <div #backupsList  class="d-flex flex-column backups-list w-100 pr-2">
                    <app-backup-item *ngFor="let backup of backups" [willBeDeletedSoon]="willBeDeletedSoon(backup.expires)" [attr.data-filename]="backup.file.name" [backup-info]="backup" [admin-info]="admins[backup.user.nickname]" (currentToView)="current = $event; current.file.text = undefined ;getBackupFile($event.file.name, $event.unix)"></app-backup-item>
                    <div *ngIf="backups.length == 0 && !loading" class="d-flex flex-fill justify-content-center align-items-center">
                      <p class="text-muted">Нет живых бэкапов</p>
                    </div>
                    <div *ngIf="backups.length == 0 && loading" class="d-flex flex-fill justify-content-center align-items-center">
                      <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="current" class="d-flex flex-column viewer">
                <div class="d-flex flex-row justify-content-between viewer-head align-items-center">
                  <div class="d-flex flex-row align-items-center overflow-hidden">
                    <button (click)="current = undefined" class="d-flex btn btn-dark viewer-hide" type="button" name="button"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 30 30" width="30" height="30"><defs><path d="M24.69 9.83L14.66 20.77L4.69 9.83" id="a1sXzGPVRt"></path></defs><g><g><g><g><use xlink:href="#a1sXzGPVRt" opacity="1" fill-opacity="0" stroke-width="1" stroke-opacity="1"></use></g></g></g></g></svg></button>
                    <div class="d-flex viewer-head-elapse">
                      {{current.file.name}}
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-fill viewer-code overflow-auto">
                  <ngx-codemirror
                    *ngIf="current.file.text && !current.file.binary"
                    #editor
                    [(ngModel)]="current.file.text"
                    [options]="cmSettings">
                  </ngx-codemirror>
                  <div *ngIf="current.file.binary" class="d-flex flex-fill justify-content-center align-items-center flex-column">
                    <h3 class="text-muted"><fa-icon [icon]="fa.sign"></fa-icon></h3>
                    <span class="text-muted">Binary File</span>
                  </div>
                  <div *ngIf="!current.file.text && !current.file.binary" class="d-flex flex-fill justify-content-center align-items-center">
                    <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-between viewer-bottom align-items-start">
                  <span class="d-flex elapse">
                    <small class="text-muted">{{current.date | date:'d MMM yy, HH:mm:ss'}}</small>
                  </span>
                  <span class="d-flex elapse">
                    <small class=" elapse">{{current.file.path}}</small>
                  </span>
                  <div class="p-1 d-flex align-items-center justify-content-between">
                    <button [disabled]="!current.file.text && !current.file.binary" (click)="restoreBackup()" class="btn btn-success" type="button" name="button">Установить</button>
                    <button [disabled]="!current.file.text && !current.file.binary" (click)="removeBackup()" class="btn btn-danger ml-3" type="button" name="button"><fa-icon [icon]="fa.trash"></fa-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
