:host {
    line-height: 18px;
}

.poly {
    display: inline-block;
    clip-path: polygon(0% 100%, 50% 50%, 0% 0%);
    background: var(--bs-dark);
    margin-top: 1px;
    height: 18px;
    position: absolute;
    width: 17px;
}
.arrow {
    height: 18px;
    display: inline-block;
    padding: 0 3px 0 8px;
    line-height: 15px;
    vertical-align: middle;
}

