<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="d-flex flex-column justify-content-center h-100 w-100">
      <div class="d-flex align-self-start w-100">
        <div class="col-12 adm-head">
          <h6><fa-icon [icon]="fa.agent"></fa-icon>Администраторский состав</h6>
        </div>
      </div>
      <div class="d-flex flex-fill w-100 overflow-auto">
        <div class="col-12">
          <div class="row">
            <table *ngIf="admins.length > 0" class="table w-100 h-100">
              <tr *ngFor="let admin of admins">
                <td class="td-avatar">
                  <img class="avatar" src="https://www.gta-liberty.ru/images/avatars/upload/{{admin.user_avatar}}" alt="">
                </td>
                <td>
                  {{ admin.username }} <br>
                  <small>Админ</small>
                </td>
                <td>
                  <kbd>{{ admin.user_id }}</kbd>
                </td>
                <td>
                  <kbd>{{ userService.getUserGroupName(admin.group_id) }}</kbd>
                </td>
                <td>
                  30 Sep 20, 00:38:00
                </td>
                <td>
                  30 Sep 20, 00:38:00
                </td>
                <td>
                  <select class="" name="">
                    <option value="9">Претендент</option>
                    <option value="10">Разработчик</option>
                    <option value="11">Админ</option>
                    <option value="12">Маппер</option>
                    <option value="13">Редактор конфигов</option>
                    <option value="14">Бэкапер</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="input-group mt-2">
      <input name="quest" type="text" class="form-control shadow-none align-middle input-dark" placeholder="Введите ник игрока или серийный номер"/>
    </div> -->
  </div>
</div>
