<div class="row h-100">
  <div class="d-flex align-items-start flex-column h-100 w-100">
    <div class="col-12 pl-0 pr-0 textarea align-self-start d-flex flex-fill w-100">
      <!-- <div class="texteditor-line-indexes">
        <div *ngFor="let line of plainArr; index as i" contenteditable="false" class="index no-select">{{ i }}</div>
      </div> -->
      <!-- <textarea *ngIf="textplain !== undefined" class="w-100" name="name" (input)="checkChanges()" [(ngModel)]="textplain"></textarea> -->
      <ngx-codemirror
        [(ngModel)]="textplain"
        (input)="checkChanges()"
        (keydown.backspace)="checkChanges()"
        (keydown.control.z)="checkChanges()"
        (keydown.control.y)="checkChanges()"
        [options]="cmSettings"
        [autoFocus]="true"
      ></ngx-codemirror>
      <!-- <div contenteditable="true" class="supertextarea w-100">
        <div *ngFor="let line of plainArr; index as i" class="super-line d-flex flex-row">
          <div contenteditable="false" class="index no-select"> {{ i }}</div>
          <div class="text">{{ line }}</div>
        </div>
      </div> -->
    </div>
    <div class="texteditor-underpanel no-select align-self-end w-100">
      <div class="col-12">
        <div class="row">
          <div class="w-100 d-flex flex-row justify-content-between">
            <div class="panel-left">
              <button (click)="pathToClipboard()" class="panel">
                {{ path }}{{ (changed | async)?'*':'' }}
              </button>
            </div>
            <div class="panel-left">
              <div class="w-100 d-flex flex-row justify-content-end">
                <!-- <div [class.text-warning]="(changed | async)" class="panel">
                  {{ (changed | async)?'ИЗМЕНЕНО':'НЕ ИЗМЕНЕНО' }}
                </div> -->
                <button class="panel">
                  <i [class.led-loading]="loading" [class.led-error]="(error | async)?.message" class="autosave-led"></i>
                </button>
                <button (click)="saveFile()" class="panel" [disabled]="!(changed | async)">
                  <fa-icon [icon]="fa.save"></fa-icon> <span>Сохранить</span>
                </button>
                <button class="panel" disabled>
                  <fa-icon [icon]="fa.fetch"></fa-icon> <span>Обновить</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
