:host {
  position: absolute;
  right: 15px!important;
  top: 40px!important;
  z-index: 10;
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  b, span {
    word-wrap: break-word;
  }
  ul {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
  }
}
