<ngb-toast
   *ngFor="let toast of toastService.toasts"
   [class]="toast.classname"
   [autohide]="true"
   [delay]="toast.delay || 50000"
   (hide)="toastService.remove(toast)"
   (click)="toastService.remove(toast)"
   [@toast]
 >
   <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
     <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
   </ng-template>
   <ng-template #text>
     <div class="d-flex flex-row">
       <div *ngIf="toast.icon" class="d-flex toast-icon">
         <fa-icon [icon]="toast.icon"></fa-icon>
       </div>
       <div class="d-flex flex-fill flex-column toast-text w-100">
         <span *ngIf="!isTemplate(toast)" [innerHTML]="toast.textOrTpl"></span>
         <span *ngIf="isTemplate(toast)">{{ toast.textOrTpl }}</span>
        <div>
          <div *ngIf="toast.subtext">
            <hr>
            <span><b>{{ toast.subtext }}</b></span>
          </div>
        </div>
       </div>
      </div>
   </ng-template>
 </ngb-toast>
