@import 'scss/_colors';
:host {
  .clip {
    white-space: nowrap;
  }
  .geotable {
    tr {
      td {
        // padding-left: 0px;
        // padding-right: 0px;
      }
    }
  }
  .inline {
    width: 100%;
    background: $topper;
    border-radius: 3px;
  }
  .chain {
    height: 46px;
    max-width: 46px;
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .text-dashed {
    border-bottom: 1px dashed $text;
    cursor: pointer;
    transition: 0.1s linear;
    &:hover {
      color: $text-secondary;
      border-bottom: 1px dashed $text-secondary;
    }
  }
}
