$backgroung-main: #3c3c41;
$text: hsl(0, 0%, 99%);
$text-secondary: #d0d0ff;
$topper: #28282c;
$clr-front: #606060;
$clr-formcontrol: #2e2f39;
$primary: #1271d6;
$secondary: #2f3035;
$filetree: #2d2d31;
$texteditor: #3e3f4c;
$clr-clack: #101010;
$tab: #212129;
$scrollbar-thumb: #4d4f58;
$scrollbar-hover: #585a64;
$scrollbar: #28282c;
$danger: #dc3545;
$success: #28a745;
$underpanel: #1c1f22;
$underpanel-hover: #212427;
$dropdown: #1c1c20;
