.sentinel {
    @import './dropdown';
    @import './select';
    &.main {
        background-color: $backgroung-main; 
    }
    .topbar {
        .btn {
            &.native {
                &-close, &-min {
                    height: 36px;
                    width: 36px;
                    @include btn-native;
                }
                &-close {
                    svg {
                        position: relative;
                        top: -3px;
                    }
                  &:hover {
                    background: #c71f1f!important;
                  }
                  &:active {
                    background: #831212!important;
                  }
                }
                &-min {
                  svg {
                    left: -2px;
                  }
                  &:hover {
                    box-shadow: none!important;
                    background: $tab;
                  }
                  &:active { 
                    background: $dropdown;  
                  }
                }
            }
            &-native {
                &-profile {
                    background: none;
                    border: none;
                    font-size: 12px;
                    color: $text;
                    transition: .2s ease;
                    z-index: 1;
                    position: relative;
                    height: 100%;
                    .btn-profile {
                        min-width: 160px;
                        background: inherit;
                        border: inherit;
                        color: inherit;
                        height: inherit;
                        &[aria-expanded = true] {
                            background: $tab;
                        }
                        img {
                            height: 20px;
                            width: 20px;
                            position: relative;
                            cursor: pointer!important;
                            top: -1px;
                            border-radius: 100%;
                            background: $tab;
                            margin-right: 15px;
                        }
                        svg {
                            height: 18px;
                            width: 18px;
                            margin-left: 15px;
                            position: relative;
                            top: -1px;
                            cursor: pointer!important;
                            path {
                                stroke: $text;
                            }
                        }
                    }
                    &:hover, &:focus, &:active, &:focus-within {
                        background: $tab!important;
                        .dropdown-menu {
                            background: $tab;
                        }
                    }
                }
            }
        }
    }
    .status {
        pointer-events: none;
        $size: 6px; 
        .led {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #63d87d;
            border-radius: 100%;
            position: relative;
            top: -1px;
            transition: 0.2s linear;
            margin-right: 15px;
            margin-left: 5px;
            &-loading {
                background: #ffc107!important;
                animation-name: blink;
                animation-duration: .5s;
                animation-iteration-count: infinite;
            }
            &-error {
                background: #dc3545!important;
                &:before {
                    position: absolute;
                    border-radius: 100%;
                    content: ' ';
                    background: #dc3545;
                    width: $size;
                    height: $size;
                    animation-name: blinknscale;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }
  }
  @include blink();
  @include blinknscale(1, 2.5);
}