:host {
  .btn {
    height: 38px;
    width: 38px;
    margin-right: 5px;
    lty-icon {
      width: 16px;
      position: relative;
      height: auto;
    }
  }
  .badge {
    height: 38px;
    font-size: 16px;
  }
}
