<div class="h-100 options d-flex flex-wrap align-content-between text-center">
    <div class="work-panel">
      <div class="text-center">
        <button class="side-button" routerLinkActive="active" routerLink="/home/dash" [attr.data-content]="'Старт'"><fa-icon [icon]="fa.home"></fa-icon></button>
      </div>
      <div class="text-center">
        <button class="side-button" routerLinkActive="active" routerLink="/home/search" [attr.data-content]="'Поиск'"><fa-icon [icon]="fa.search"></fa-icon></button>
      </div>
      <div class="text-center">
        <button class="side-button" routerLinkActive="active" routerLink="/home/config-editor" [attr.data-content]="'Редактор конфигов'"><fa-icon [icon]="fa.redactor"></fa-icon></button>
      </div>
      <div class="text-center">
        <button class="side-button" routerLinkActive="active" [attr.data-content]="'Редактор карт'" disabled><fa-icon [icon]="fa.map"></fa-icon></button>
      </div>
    </div>
    <div class="panel text-center">
      <button class="side-button" [attr.data-content]="'Настройки'"><fa-icon [icon]="fa.cog"></fa-icon></button>
    </div>
</div>
