/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/dracula';
@import '~codemirror/theme/material';
@import '~codemirror/theme/cobalt';
@import '~codemirror/theme/ayu-mirage';
@import '~codemirror/theme/yonce';
@import '~codemirror/theme/nord';
@import '~codemirror/theme/panda-syntax';
@import '~codemirror/addon/dialog/dialog';

@import "~@ng-select/ng-select/themes/default.theme.css";

@import 'colors';
@import 'scss/native';
@import 'scss/cm';

html, body, app-root {
  margin: 0px 0px 0px 0px;
  left: 0;
  right: 0;
  top: 0;
  color: $text;
  position: absolute;
  height: 100%;
  width: 100%;
  background: $mainbg;
}
lty-icon {
  display: inline-block;
  vertical-align: baseline;
}
button:active, button:focus {
  outline: none!important;
}
.btn {
  &:active, &:focus {
    outline: none!important;
    box-shadow: none;
  }
}
.btn {
  font-size: 13px;
  border: none;
  transition: 0.1s linear;
  &-dark {
    background-color: transparent!important;
    &:hover, &:active, &:focus {
      background-color: rgb(0 0 0 / 30%)!important;
    }
    &:disabled {
      background-color: rgb(0 0 0 / 30%)!important;
      opacity: 0.5;
    }
  }
}
.light-tooltip {
  font-weight: 300;
  font-size: 13px;
  b {
    font-weight: 500;
  }
}
.playerlog {
  margin-left: 70px;
  margin-right: 0px;
  right: 0px;
  background: #3d3e4a;
}
.wrapper-main {
  width: auto;
}
app-auth, app-dashboard, app-login, app-home, app-search-editor, search-results {
  width: 100%;
}
app-topper {
  width: 100%;
  height: 35px;
  display: flex;
  background-color: $topper;
  z-index: 20;
  // position: fixed;
  position: relative;
}
app-sider {
  background: $clr-clack;
  // height: 100%;
  button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
  }
}
.toast-body {
  padding: 0px;
}
.toast-text {
  opacity: 0.8;
  padding: 10px 35px 10px 10px;
  // float: right;
}
.toast-icon {
  background: #00000040;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.native-main {
  // position: fixed;
  // height: 100vh;
  // width: 100%;
}
app-search {
  height: 50px;
  background: $secondary;
  width: 100%;
}
.form-control {
  background-color: $clr-formcontrol!important;
  color: $text!important;
}
.btn-primary {
  background: $primary;
}
.bg-danger {
  background: $danger;
}
button, input, svg, img, .no-select {
  @include no-select;
}
.cursor-through {
  @include cursor-through;
}
kbd { white-space: nowrap; }
div, span, p, u, i, b, a, strong, input, h1, h2, h3, h4, h5, h6 {
  ::-webkit-selection {
    background-color: $clr-clack!important;
    color: white;
  }
  ::selection {
    background-color: $clr-clack!important;
    color: white;
  }
}
::-webkit-scrollbar {
 background: $topper;
 width: 14px;
 height: 14px;
}
::-webkit-scrollbar-corner {
  background: $topper;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
  border-radius: 3px;
  cursor: default!important;
  &:hover {
    transition: 1s ease-in-out;
    border: 1px solid $underpanel-hover;
  }
  &:active, &:focus {
    opacity: 0.5;
  }
}

.ng-select.ng-select-opened > .ng-select-container {
  background: $topper;
  border-color: $filetree;
  color: $text;
}
.ng-select-disabled > .ng-select-container {
  opacity: 0.2;
  border-color: $filetree;
  background: $topper;
}
.custom {
    border: 0px;
    min-height: 0px;
    .ng-select-container {
      min-height: 0px;
      border-color: $filetree;
      background: $topper;
      color: $text;
    }
    .ng-dropdown-panel {
      border-color: $filetree;
      .scroll-host {
        background: $topper;
      }
      .ng-select-bottom {
        background: $topper;
        color: $text;
      }
      .ng-dropdown-panel-items {
        background: $topper;
        .ng-option.ng-option-marked {
          background: $underpanel;
          color: $text;
        }
        .ng-option.ng-option-selected {
          background: $dropdown;
          color: $text;
        }
        .ng-option  {
          background: $filetree;
          color: $text;
        }
      }
    }
    .ng-option {
      border-color: $filetree;
      background-color: $topper;
      color: $text;
    }
}

.spinner {
    height: 22px;
    width: auto;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    margin: auto;
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dashDefault 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #7f848a;
    }
  }
  @keyframes rotateDef {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dashDefault {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  .spinner .path, .spinner-logo path {

  }
  .spinner-logo {
    transform-origin: center center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    path, use {
      stroke-width: 5;
      stroke: #ffffff;
      fill: transparent;
      fill-opacity: 10;
      stroke-dasharray: 100, 200;
      stroke-dashoffset: 0;
      animation: dash-one 2.5s ease-in-out infinite;
      stroke-linecap: round;
    }
  }
  .blur {
    filter: blur(10px);
  }
  .backdrop-blur {
    backdrop-filter: blur(10px);
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 10;
      stroke-dashoffset: 0;
    }
    25% {
      stroke-dasharray: 1, 60;
      stroke-dashoffset: -35px;
    }
    50% {
      stroke-dasharray: 1, 60;
      stroke-dashoffset: -200px;
    }
    100% {
      stroke-dasharray: 1, 10;
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash-one {
    0% {
      stroke-dasharray: 50, 100;
      stroke-dashoffset: 0;
    }
    25% {
      stroke-dasharray: 60, 200;
      stroke-dashoffset: -35px;
    }
    50% {
      stroke-dasharray: 60, 200;
      stroke-dashoffset: -135px;
    }
    100% {
      stroke-dasharray: 50, 100;
      stroke-dashoffset: 0;
    }
  }
