<table class="geotable inline" *ngIf="table">
  <tr>
    <td><span (click)="sendQueryIP()" class="text-dashed">{{ table.ip }}</span></td>
    <td>{{ table.country }}</td>
    <td>CC: {{ table.cc}}</td>
    <td>AS: {{ table.as }}</td>
    <td><button class="btn btn-sm btn-dark" (click)="sendQuery()" name="button" placement="right" tooltipClass="light-tooltip" [ngbTooltip]="tipContent"><fa-icon [icon]="fa.link"></fa-icon></button></td>
    <td>SS: {{ table.ss }}</td>
    <td>{{ table.org }}</td>
    <td>{{ table.cli }}</td>
  </tr>
</table>
<ng-template #tipContent let-greeting="greeting">Поиск по <b>данной связке</b></ng-template>
