@import 'colors';
ngx-codemirror {
  width: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  background: none!important;
}
.CodeMirror-gutters {
  background: #2E2F3960!important;
  padding-right: 3px;
}
.cm-comment, .CodeMirror-linenumber {
  color: #70708c!important;
}
.cm-searching {
  background: #FFFFFF30!important;
}
.CodeMirror-search-match {
  background: gold;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
