@import "colors";
ngx-codemirror {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  background: none !important;
}
.CodeMirror-gutters {
  background: #2e2f3960 !important;
  padding-right: 3px;
}
.cm-comment,
.CodeMirror-linenumber {
  color: #70708c !important;
}
.cm-searching {
  background: #ffffff30 !important;
}
.CodeMirror-search-match {
  background: gold;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.5;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0px;

  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);

  background: $filetree;
  font-size: inherit;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  // padding: 0 4px;
  padding: 3px 15px 3px 15px;
  white-space: pre;
  color: $text;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: $text-secondary;
  color: $filetree;
}
