$mainbg: #414656;
$text: #fdfdfd;
$text-secondary: #d0d0ff;
$topper: #2E2F39;
$clr-front: #606060;
$clr-formcontrol: #2E2F39;
$primary: #1271d6;
$secondary: #343540;
$filetree: #31333e;
$texteditor: #3e3f4c;
$clr-clack: #101010;
$tab: #3A3F52;
$scrollbar-thumb: #46485a;
$scrollbar: #252734;
$danger: #dc3545;
$success: #28a745;
$underpanel: #3784d4;
$underpanel-hover: #429bf9cc;
