$mainbg: #414656;
$text: #fdfdfd;
$text-secondary: #d0d0ff;
$topper: #2E2F39;
$clr-front: #606060;
$clr-formcontrol: #2E2F39;
$primary: #1271d6;
$secondary: #343540;
$clr-clack: #101010;
$tab: #3A3F52;
$scrollbar-thumb: #4F547C;
$scrollbar: #252734;
