$mainbg: #414656;
$text: #fdfdfd;
$text-secondary: #d0d0ff;
$topper: #28282c;
$clr-front: #606060;
$clr-formcontrol: #28282c;
$primary: #1271d6;
$secondary: #2a2a2e;
$filetree: #2d2d31;
$texteditor: #3e3f4c;
$clr-clack: #101010;
$tab: #212129;
$scrollbar-thumb: #46485a;
$scrollbar: #252734;
$danger: #dc3545;
$success: #28a745;
$underpanel: #2E2F39;
$underpanel-hover: #31333e;
$dropdown: #131313;

.bg-black {
  background: #212228!important;
}
