@import 'colors';
:root {
  --primary: #2E2F39;
  --success: #28a745;
}
@mixin no-select {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit;
}
@mixin cursor-through {
  pointer-events: none;
}
@mixin btn-native {
  width: 36px;
  height: 100%;
  border-radius: 0%;
  padding: 0 11px;
  border: none;
  cursor: pointer;
  svg {
    cursor: pointer!important;
  }
  &:active, &:focus {
    outline: none;
    border: none;
  }
}
.separator {
  margin: 8px 10px;
  height: 1px;
  background-color: $scrollbar-thumb;
}
.native-dragzone {
  -webkit-app-region: drag;
}
.custom-control {
  padding-left: 0px!important;
  label {
  	position: relative;
    margin-left: 38px;
  	cursor: pointer;
  	font-size: inherit;
    text-align: left;
  }

  input[type="checkbox"] {
  	position: absolute;
  	right: 9000px;
  }


label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #fdfdfd20;
  border-radius: 50%;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}
input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}
label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $primary;
  border: 11px solid $primary;
  border-radius: 100%;
  top: 50%;
  left: -33px;
  transform: translateY(-50%) scale(0);
  transition: transform 200ms ease;
}

input[type="radio"]:checked + label::before {
  border-color: none;
}

input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}


  @keyframes effect{
  	0%{transform: scale(0);}
  	25%{transform: scale(1.3);}
  	75%{transform: scale(1.4);}
  	100%{transform: scale(1);}
  }
}
.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}
ngb-datepicker {
  border: none;
  z-index: 1!important;
  .btn-light {
    color: #c6c6c9;
  }
  ngb-datepicker-navigation-select {
    & > .custom-select {
      border: $tab;
      background: $texteditor;
      color: $text;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 2px;
    }
  }
  .ngb-dp {
    &-header {
      background: $dropdown;
      .btn-link {
        color: $text;
      }
    }
    &-weekdays {
      background: $texteditor;
    }
    &-weekday {
      color: $text;
    }
  }
}
.as-split-gutter {
  background-color: $topper!important;
  transition: .1s ease;
  &:hover {
    background-color: $primary!important;
  }
  &-icon {
    background-image: none!important;
  }
}
