@import 'scss/colors';
:root {
  --primary: #2E2F39;
  --success: #28a745;
}
@mixin no-select {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit;
}
@mixin btn-native {
  width: 100%;
  height: 100%;
  cursor: pointer;
  svg {
    cursor: pointer!important;
  }
}
.native-dragzone {
  -webkit-app-region: drag;
}
.dropdown-toggle {
  &::after {
    display: none;
  }
}
.dropdown-menu {
  width: 100%;
  left: 0px;
  border-radius: 0px;
  background: $dropdown;
  border: none;
  max-width: 100%;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  transition: .1s ease;
  z-index: -1;
  .dropdown-item {
    color: $text;
    transition: .2s ease;
    padding-left: 10px;
    padding-right: 5px;
    span {
      position: relative;
      top: -2px;
    }
    svg {
      margin: auto;
    }
    fa-icon {
      margin-right: 0.7rem;
    }
    &:hover, &:focus, &:active  {
      background: #0000002f!important;
    }
    &:disabled, &.disabled {
      color: #fdfdfd2f!important;
      opacity: 0.6;
    }
  }
  .dropdown-divider {
    border-top: 1px solid #0000000f;
  }
}
.btn-native-profile {
  background: none;
  border: none;
  font-size: 12px;
  color: $text;
  transition: .2s ease;
  z-index: 1;
  position: relative;
  .btn-profile {
    min-width: 160px;
    background: none;
    border: none;
    color: $text;
    height: 100%;
    &[aria-expanded = true] {
      background: $tab;
    }
  }
  &:hover, &:focus, &:active, &:focus-within {
    background: $tab!important;
    .dropdown-menu {
      background: $tab;
    }
  }
  svg {
    height: 18px;
    width: 18px;
    margin-left: 15px;
    position: relative;
    top: -1px;
    cursor: pointer!important;
    path {
      stroke: $text;
    }
  }
  fa-icon {
    padding-left: 3px;
    padding-right: 3px;
    svg {
      margin-left: 0px;
      top: 1px;
    }
  }
  img {
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer!important;
    top: -1px;
    border-radius: 100%;
    background: $tab;
    margin-right: 15px;
  }
}
.native-close {
  @include btn-native;
  &:hover {
    border: 1px solid #c71f1f!important;
    background: #c71f1f!important;
  }
}
.native-min {
  @include btn-native;
  svg {
    left: -2px;
  }
  &:hover {
    box-shadow: none!important;
    background: $tab!important;
  }
}
.custom-control {
  padding-left: 0px!important;
  label {
  	position: relative;
    margin-left: 38px;
  	cursor: pointer;
  	font-size: inherit;
    text-align: left;
  }

  input[type="checkbox"] {
  	position: absolute;
  	right: 9000px;
  }


label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #fdfdfd20;
  border-radius: 50%;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}
input[type="radio"] {
  width: 0px;
  height: 0px;
}
label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $topper;
  border: 13px solid $topper;
  border-radius: 100%;
  top: 50%;
  left: -35px;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}

input[type="radio"]:checked + label::before {
  border-color: none;

}

input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}


  @keyframes effect{
  	0%{transform: scale(0);}
  	25%{transform: scale(1.3);}
  	75%{transform: scale(1.4);}
  	100%{transform: scale(1);}
  }
}
