@import "colors";

.modal {
  &-header {
    background-color: $topper;
    h5 {
      font-weight: lighter;
      margin-bottom: 0px;
    }
    border-color: $underpanel-hover;
  }
  &-content {
    background: $filetree !important;
    color: $text;
  }
  table {
    color: var(--bs-light);
  }
}
