<div class="container-fluid d-flex flex-column h-100">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <h5>Фильтр строк</h5>
    <div>
      <input
        class="form-control"
        [(ngModel)]="searchInput"
        placeholder="Поиск"
        type="text"
      />
    </div>
  </div>
  <div>
    <span class="subtext text-muted">
      Отметьте процессы, которые должны отображаться в поиске
    </span>
  </div>
  <div class="separator"></div>
  <div class="d-flex flex-column">
    <form [formGroup]="filterForm">
      <div formArrayName="processes">
        <div
          class="d-flex flex-row"
          *ngFor="
            let process of allProcesses | filterSearch: searchInput;
            let i = index
          "
        >
          <label class="checkbox dark">
            <input type="checkbox" [formControlName]="i" />
            <span class="indicator"></span>
          </label>
          <div class="d-flex flex-column">
            <span>{{ process.translate }}</span>
            <span>
              <i [class]="'bg-' + process.type"></i
              ><small class="muted">{{ process.name }}</small>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
