@import 'colors';
@import 'badges';
@mixin css-checkbox(
        $size: '16px',
        $selectedColor: #444,
        $checkColor: #FFF,
        $valign: 'middle',
        $rounded: rounded
    ) {
	display: none;

	&:checked + i {
		background: #{$selectedColor};
		border-color: #{$selectedColor};

		&:hover:after { opacity: 1; }

		&:after {
			opacity: 1;
      border-color: #{$checkColor};
		}
	}

  + i {
    box-sizing: border-box;
    &:before, &:after {
       box-sizing: border-box;
    }
  }
	+ i {
		position: absolute;
		display: inline-block;
		top: 8px;
    left: 30px;
		width: #{$size};
		height: #{$size};
		margin: 0;
    vertical-align: #{$valign};
		border: 1px solid #707070;
    transition: background 200ms ease;

    @if $rounded == "circle" {
      border-radius: 10em;
    } @else if $rounded == "rounded" {
      border-radius: .2em;
    } @else {
      border-radius: 0;
    }

		background: #505050;
		// font-size: #{$size};
		cursor: pointer;

		&:hover:after { opacity: .2; }

		&:after {
			content: '';
			opacity: 0;
			transform: translateZ(1px) rotate(-45deg);
      outline: 1px solid transparent; // hack to prevent antialias atrifacts in firefox
			position: absolute;
			top: 22%;
			left: 15%;
			width: .68em;
			height: .4em;
			border: .15em solid #222;
			border-top: none;
			border-right: none;
			background: rgba(0, 0, 0, 0);
		}
	}
}
:host {
  padding-top: 10px;
  .separator {
    margin: 20px 0 20px 0;
  }
  form {
    span {
      font-size: 14px;
    }
  }
  i {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    top: -2px;
    margin-right: 10px;
  }
  .muted {
    opacity: 0.5;
    font-size: smaller;
  }
  .subtext {
    font-size: 14px;
    line-height: initial;
  }
  h6, h5 {
    margin-bottom: 0em;
    font-weight: 700;
  }
  small {
    opacity: 0.7;
    line-height: 10px;
    position: relative;
    bottom: 3px;
  }
  .filter-form {
    &::-webkit-scrollbar {
     border-radius: 5px;
     width: 3px;
     height: 3px;
    }
  }
  .pseudo {
    width: 100%;
    cursor: pointer;
    .form-check-input {
      @include css-checkbox(18px, $selectedColor: #202020);
    }
    i {
      position: relative;
      z-index: 2;
    }
  }
}
