<div class="d-flex align-items-start flex-column h-100">
  <div class="d-flex top w-100">
    <div class="col-12 d-flex text-center justify-content-between align-items-center">
      <span class="me-3">ПРОВОДНИК</span>
      <div class="d-flex flex-row">
        <button title="Обновить" class="btn btn-dark sync" (click)="sync()" name="sync"><fa-icon [icon]="fa.sync"></fa-icon></button>
        <button title="Создать новую папку" class="btn btn-dark sync" (click)="modals.mkDir = true" name="mkdir"><fa-icon [icon]="fa.folderPlus"></fa-icon></button>
        <button *ngIf="canCreate" title="Создать новый файл" class="btn btn-dark sync" (click)="modals.touch = true" name="touch"><fa-icon [icon]="fa.filePlus"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="d-flex w-100 g-0 flex-fill overflow-auto">
    <div *ngIf="node; else loader" class="text-left w-100">
      <file-tree-items
        [isRoot]="true"
        [child-nodes]="node"
        [expanded]="true">
      </file-tree-items>
    </div>
    <ng-template #loader>
      <div class="d-flex h-100 flex-fill">
        <div class="loader w-100 loader-items d-flex align-self-center justify-content-center">
          <lty-icon name="lty-logo" anim="spinner-logo"></lty-icon>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="node" class="d-flex w-100 underpanel no-select">
        <div class="d-flex flex-row justify-content-between">
          <div class="panel-left">
            <button class="panel">
              <fa-icon [icon]="fa.file"></fa-icon> {{ node.items.length }}
            </button>
      </div>
    </div>
  </div>
</div>
<!-- <form [formGroup]="addNewDir" (ngSubmit)="mkDir()" *ngIf="modals.mkDir" @settings class="popup d-flex flex-row justify-content-center align-items-center">
  <div class="popup-window d-flex flex-column">
    <div class="popup-window-head">
      <h5><fa-icon class="mr-3" [icon]="fa.folderPlus"></fa-icon> Новая директория</h5>
    </div>
    <div class="popup-window-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="newDirInput"><small>Путь директории от корня дерева</small></label>
            <input type="text"
                   toFocus
                   placeholder="Путь директории от корня дерева"
                   class="form-control"
                   name="newDirInput"
                   id="newDirInput"
                   aria-describedby="nickname"
                   formControlName="path"
                   required>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<form [formGroup]="mvDirGroup" (ngSubmit)="mvDir()" *ngIf="modals.mvDir" @settings class="popup d-flex flex-row justify-content-center align-items-center">
  <div class="popup-window d-flex flex-column">
    <div class="popup-window-head">
      <h5><fa-icon class="mr-3" [icon]="fa.folderPlus"></fa-icon> Переименовать</h5>
    </div>
    <div class="popup-window-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="mvDirInput"><small>Путь от корня дерева</small></label>
            <input type="text"
                   toFocus
                   placeholder="Новый путь от корня дерева"
                   class="form-control"
                   name="mvDirInput"
                   id="mvDirInput"
                   aria-describedby="nickname"
                   formControlName="dest"
                   required>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<form [formGroup]="addNewFile" (ngSubmit)="touchFile()" *ngIf="modals.touch && canCreate" @settings class="popup d-flex flex-row justify-content-center align-items-center">
  <div class="popup-window d-flex flex-column">
    <div class="popup-window-head">
      <h5><fa-icon class="mr-3" [icon]="fa.filePlus"></fa-icon> Создать новый файл</h5>
    </div>
    <div class="popup-window-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="touchInput"><small>Путь файла от корня дерева</small></label>
            <input type="text"
                   toFocus
                   placeholder="/configs/config.conf"
                   class="form-control"
                   name="touchInput"
                   id="touchInput"
                   aria-describedby="nickname"
                   formControlName="path"
                   required>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->
