@import 'colors';
@import 'popup';

:host {
  height: 100%;
  lty-icon {
    width: 34px;
    height: 34px;
  }
  .popup {
    &-window-head {
      padding: 10px 15px 0 15px;
    }
    &-window-body {
      padding: 0 15px 0 15px;
    }
    input {
      font-size: inherit;
    }
  }
  .top {
    background: $secondary;
    border-bottom: 1px solid #00000010;
    padding: 5px 0 5px 10px;
    color: $text;
    opacity: 0.7;
    .sync {
      width: 24px;
      margin-right: 5px;
      padding: 2px;
      color: var(--bs-gray-600);
      fa-icon {
        position: relative;
        font-size: 12px;
        top: -1px;
      }
      &:hover {
        color: inherit;
      }
    }
  }
  .texteditor-underpanel {
    $height: 22px;
    background: $underpanel;
    height: $height + 1;
    font-size: 12px;
    line-height: $height;
    color: $text;
    .panel-left {
      span {
        line-height: $height;
      }
      .panel {
        padding-left: 15px;
        padding-right: 15px;
        background: none;
        border: none;
        color: inherit;
        height: $height;
        line-height: $height;
        overflow: hidden;
        .autosave-led {
          display: inline-block;
          width: 5px;
          height: 5px;
          background: #63d87d;
          border-radius: 100%;
          position: relative;
          top: -2px;
          transition: 0.2s linear;
        }
        .led-loading {
          background: #ffc107!important;
          animation-name: blink;
          animation-duration: .5s;
          animation-iteration-count: infinite;
        }
        .led-error {
          background: #dc3545!important;
        }
        fa-icon {
          font-size: 12px;
          margin-right: 8px;
          position: relative;
          top: -1px;
        }
        &:hover {
          background: $underpanel-hover;
        }
        &:disabled {
          background: $underpanel-hover;
          opacity: 0.4;
        }
        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
