@import "colors";
:host {
  height: 100%;
  width: 100%;
  @mixin minibadge {
    padding: 2px 0.5rem 2px 0.5rem;
    line-height: 10px;
    margin-left: 0.2rem;
    font-weight: bolder;
    text-decoration: none !important;
  }
  .lazy-loader {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    padding: 8px 8px 8px 10px;
    border-radius: 100%;
    z-index: 3;
    background: $clr-formcontrol;
    svg {
      position: relative;
      top: -2px;
      width: 100%;
      height: auto;
    }
  }
  .viewport {
    font-size: 13px;
    transition: 0.2s linear;
    background: #303136;
    height: 100%;
    width: 100%;
    .loading-trigger {
      height: 3px;
      background: linear-gradient(to right, red, orange);
    }
    .list-empty {
      width: 100%;
      height: 100%;
      h4 {
        font-weight: 300;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
    .line-process {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .block-screen {
      position: fixed;
      top: 85px;
      left: 75px;
      width: 100%;
      height: 100%;
      filter: blur(10px);
      z-index: 1;
    }
    .logline {
      $gutter: 0.5rem;
      height: 28px;
      border-bottom: 1px solid #0000000f;
      font-size: 12px;
      line-height: 14px;
      padding-left: $gutter;
      padding-right: $gutter;
      box-sizing: border-box;
      transition: 0.05s linear;
      width: 100%;
      .badge {
        border-radius: 1px;
        font-size: 11px;
        font-weight: 500;
        padding-left: 15px;
        padding-top: 3px;
        padding-right: 15px;
        &.bg-warning {
          color: var(--bs-dark);
        }
        &.process {
          text-transform: uppercase;
        }
        &.multiplier {
          @include minibadge();
        }
      }
      .text-dashed {
        transition: none;
      }
      cursor: pointer;
      background: $filetree;
      &:hover {
        background: $underpanel;
        .message-shadow {
          box-shadow: 0px -27px 0px 14px rgba(0, 0, 0, 0.93) inset !important;
        }
      }
      .line-id {
        font-size: 10px;
        opacity: 0.7;
      }
      .nickname {
        color: #fff;
        & > .badge {
          @include minibadge();
        }
        &:hover {
          color: #ffffff90;
        }
      }
      .geo-container {
        position: relative;
        button {
          color: #ffffff90;
          &.btn-dark {
            &:hover,
            &:active,
            &:focus {
              background-color: transparent !important;
              color: var(--bs-light);
            }
          }
        }
        .dropdown-menu {
          z-index: 1;
        }
      }
    }
    .expanded {
      font-size: 14px !important;
      line-height: inherit !important;
    }
    .banned {
      background: #dc354520;
    }
    .loader {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      z-index: 100;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        right: 0;
      }
    }
  }
}
