<div class="playerlog h-100 nopadding d-flex flex-column flex-fill align-self-stretch">
  <div class="wrapper-main overflow-auto d-flex align-items-stretch flex-fill">
    <div class="jumbotron col-12 p-0 pr-0 mb-0 h-100 w-100">
      <div class="container-fluid h-100 pr-0 pl-0">
        <div class="d-flex flex-row h-100">
          <div class="d-flex h-100 flex-column pl-4 pt-4 pr-4 sid">
            <div class="d-flex justify-content-between mb-2">
              <h3 class="display-6">Настройки</h3>
            </div>
            <button (click)="pane = 'general'" [class.active]="pane == 'general'" type="button" class="btn btn-dark text-left" name="button"><b>Общие</b></button>
            <button (click)="pane = 'filter'" [class.active]="pane == 'filter'" type="button" class="btn btn-dark text-left" name="button"><b>Фильтр</b></button>
          </div>
          <div class="d-flex flex-column overflow-hidden h-100">
            <div @settings *ngIf="pane == 'general'" class="d-flex flex-column h-100 overflow-auto p-4">
              <form [formGroup]="settings" (change)="setup()">
                <div class="d-flex justify-content-between align-content-center mb-2">
                  <div class="">
                    <h6>Сворачивать в трей</h6>
                    <small>Прятать LARS в трей при сворачивании приложения</small>
                  </div>
                  <label class="switch" for="checkbox2">
                    <input disabled formControlName="tray" type="checkbox" id="checkbox2" />
                    <div class="slider round"></div>
                  </label>
                </div>
                <div class="d-flex justify-content-between align-content-center mb-2">
                  <div class="">
                    <h6>Количество подгружаемых строк</h6>
                    <small>Определяет размер загружаемого чанка со строками. По умолчанию: <b>100</b>. Максимум: <b>500</b><br> Чем меньше число, тем чаще подгрузки, но выше производительность листинга.</small>
                  </div>
                  <input formControlName="lineChunk" type="text" id="lineChunk" placeholder="100" />
                </div>
                <div class="d-flex justify-content-between align-content-center mb-2">
                  <div class="">
                    <h6>Стиль листинга</h6>
                    <small>Выбор между стилями отображения лога</small>
                  </div>
                  <div class="styles d-flex justify-content-between">
                    <div class="form-check custom-control custom-radio">
                      <input formControlName="listStyle" class="form-check-input custom-control-input" type="radio" name="listStyle" id="inlineRadio0" value="inline">
                      <label class="form-check-label custom-control-label" for="inlineRadio0">Однострочный</label>
                    </div>
                    <div class="form-check custom-control custom-radio">
                      <input formControlName="listStyle" class="form-check-input custom-control-input" type="radio" name="listStyle" id="inlineRadio1" value="small">
                      <label class="form-check-label custom-control-label" for="inlineRadio1">Компактный</label>
                    </div>
                    <div class="form-check custom-control custom-radio">
                      <input formControlName="listStyle" class="form-check-input custom-control-input" type="radio" name="listStyle" id="inlineRadio2" value="big">
                      <label class="form-check-label custom-control-label" for="inlineRadio2">Увеличеный</label>
                    </div>
                    <div class="form-check custom-control custom-radio">
                      <input formControlName="listStyle" class="form-check-input custom-control-input" type="radio" name="listStyle" id="inlineRadio3" value="legacy">
                      <label class="form-check-label custom-control-label" for="inlineRadio3">Legacy</label>
                    </div>
                  </div>
                </div>
                <div class="d-flex listing-preview col-12">
                  <div class="row w-100">
                    <div *ngIf="listStyle == 'big' || listStyle == 'small'" [class.expanded]="listStyle == 'big'" class="col-12 logline">
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2">
                          <strong>{{date | date:'d MMM yy, HH:mm:ss'}}</strong>
                        </div>
                        <div class="d-none d-lg-block d-lg-1 col-3 col-md-2 line-process">
                          <auth/correct/admin>
                        </div>
                        <div class="col-3 col-md-2 col-lg-2 text-center">
                          <strong>John_Doe</strong>
                          <br>
                          <span class="line-id">id: 42</span>
                        </div>
                        <div class="col-lg-6 col-8">
                          <line-process content="JohnnyTheDog"  process="<auth/correct/admin>"></line-process>
                          <geo [table]="sampleGeo"></geo>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="listStyle == 'inline'" [class.inline]="listStyle == 'inline'" class="col-12 logline">
                      <div class="row">
                        <div class="col-3">
                          <strong>{{date | date:'d MMM yy, HH:mm:ss'}}</strong>
                        </div>
                        <div class="col-5">
                          <simple-line-process process="<auth/correct/admin>"></simple-line-process>
                        </div>
                        <div class="col-2">
                          <strong>John_Doe</strong><span> (42)</span>
                        </div>
                        <div class="col-2">
                          JohnnyTheDog
                          <!-- <line-process content="JohnnyTheDog"  process="<auth/correct/admin>"></line-process> -->
                        </div>
                        <div class="col-12">
                          <geo [table]="sampleGeo" tab-style="inline"></geo>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="listStyle == 'legacy'" class="col-12">
                      <div class="row legacy">
                        <div class="col-sm-3 col-md-4 col-lg-3">
                          <span><b>{{ date | date:'d MMM yy, HH:mm:ss' }}</b></span>
                        </div>
                        <div class="col-sm-9 col-md-8 col-lg-9">
                          <span class="legacy-process"> <auth/correct/admin></span>
                          <span class="legacy-nickname">
                            John_Doe
                          </span>
                          <span class="legacy-id">
                            (42)
                          </span>
                          <span> JohnnyTheDog</span><br>
                          <span class="pre">
                            {{ sampleGeo | json }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="listStyle == 'big' || listStyle == 'small'" [class.expanded]="listStyle == 'big'" class="col-12 logline">
                      <div class="row">
                        <div class="col-3 col-md-2 col-lg-2">
                          <strong>{{date | date:'d MMM yy, HH:mm:ss'}}</strong>
                        </div>
                        <div class="d-none d-lg-block d-lg-1 col-3 col-md-2 line-process">
                          <dev/weapon>
                        </div>
                        <div class="col-3 col-md-2 col-lg-2 text-center">
                          <strong>John_Doe</strong>
                          <br>
                          <span class="line-id">id: 42</span>
                        </div>
                        <div class="col-lg-6 col-8">
                          <line-process content="31 1010"  process="<dev/weapon>"></line-process>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="listStyle == 'inline'" [class.inline]="listStyle == 'inline'" class="col-12 logline">
                      <div class="row">
                        <div class="col-3">
                          <strong>{{date | date:'d MMM yy, HH:mm:ss'}}</strong>
                        </div>
                        <div class="col-5">
                          <simple-line-process process="<dev/weapon>"></simple-line-process>
                        </div>
                        <div class="col-2">
                          <strong>John_Doe</strong><span> (42)</span>
                        </div>
                        <div class="col-2">
                          31 1010
                          <!-- <line-process content="JohnnyTheDog"  process="<auth/correct/admin>"></line-process> -->
                          <!-- <geo [table]="sampleGeo"></geo> -->
                        </div>
                      </div>
                    </div>
                    <div *ngIf="listStyle == 'legacy'" class="col-12">
                      <div class="row legacy">
                        <div class="col-sm-3 col-md-4 col-lg-3">
                          <span><b>{{ date | date:'d MMM yy, HH:mm:ss' }}</b></span>
                        </div>
                        <div class="col-sm-9 col-md-8 col-lg-9">
                          <span class="legacy-process">  <dev/weapon></span>
                          <span class="legacy-nickname">
                            John_Doe
                          </span>
                          <span class="legacy-id">
                            (42)
                          </span>
                          <span> 31 1010</span><br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap align-content-center mb-2">
                  <div class="">
                    <h6>Стиль текстового редактора</h6>
                    <small>Стили подсветки синтаксиса текстового редактора</small>
                  </div>
                  <div class="styles w-100 d-flex justify-content-stretch">
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio4" value="dracula">
                      <label class="custom-control-label" for="inlineRadio4">dracula</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio5" value="material">
                      <label class="custom-control-label" for="inlineRadio5">material</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio6" value="nord">
                      <label class="custom-control-label" for="inlineRadio6">nord</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio7" value="panda-syntax">
                      <label class="custom-control-label" for="inlineRadio7">panda</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio8" value="cobalt">
                      <label class="custom-control-label" for="inlineRadio8">cobalt</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio9" value="ayu-mirage">
                      <label class="custom-control-label" for="inlineRadio9">ayu</label>
                    </div>
                    <div class="form-check custom-control custom-radio flex-fill justify-content-center d-flex">
                      <input formControlName="textEditorStyle" class="form-check-input custom-control-input" type="radio" name="textEditorStyle" id="inlineRadio10" value="yonce">
                      <label class="custom-control-label" for="inlineRadio10">yonce</label>
                    </div>
                  </div>
                </div>
              </form>
              <div class="w-100 listing-preview">
                <ngx-codemirror
                [ngModel]="textplain"
                [options]="cmSettings"
                ></ngx-codemirror>
              </div>
              <hr>
              <div class="credits d-flex w-100">
                <div class="d-flex flex-row w-100 justify-content-between">
                  <div class="d-flex flex-column">
                    <h6>О программе</h6>
                    <div>
                      <small>Liberty Admin Remote Service v{{ version }}</small>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-self-center">
                    <img src="./assets/images/codemirror.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div @settings *ngIf="pane == 'filter'" class="d-flex flex-column h-100 overflow-auto p-4">
              <filter></filter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
