@import 'colors';
:host {
  height: 100%;
  hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px!important;
    border-top: 2px solid red!important;
  }
  h4 {
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 100%;
  }
  .credits {
    margin-bottom: 1.5rem;
    small {
      line-height: 10px!important;
    }
    img {
      height: 20px;
      width: auto;
      margin-left: 15px;
      filter: grayscale(100%) brightness(2.5);
      pointer-events: none;
    }
  }
  .sid {
    background: $filetree;
    min-width: 200px;
    span {
      line-height: normal;
    }
  }
  .playerlog {
    background: #3d3e4a;
  }
  .active {
    background: #1d212450!important;
  }
  .styles {
    background: $filetree;
    border-radius: 5px;
    // padding-left: 15px;
    // padding-right: 15px;
    height: 35px;
    color: #fdfdfd;
    &:last-child {
      margin-right: 0px;
    }
    .form-check {
      position: relative;
      top: 5px;
      height: 25px;
      // margin-right: 40px;
      font-size: 14px;
      line-height: 23px;
      border-right: 1px solid #414656;
      padding-right: 15px;
      padding-left: 15px;
      color: #fdfdfd90;
      &:last-child {
        margin-right: 0px;
        border: none;
      }
    }
  }
  .listing-preview {
    pointer-events: none;
    background: $filetree;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    pre {
      color: #fdfdfd;
      margin-bottom: 0px;
      white-space: pre-wrap;
    }
    // .legacy {
    //   font-family: monospace;
    //   font-size: 14px;
    //   border-bottom: 1px dashed #fdfdfd30;
    // }
    .legacy {
      font-family: monospace;
      font-size: 14px!important;
      line-height: inherit!important;
      // border-bottom: 1px dashed #fdfdfd30;
      border-bottom: 1px solid #0000000f;
      margin-bottom: 0px;
      margin-top: 0px;
      .legacy-process {
        color: #feffc8;
      }
      .legacy-nickname {
        font-weight: 600;
        color: #76c570
      }
      .legacy-id {
        color: #92beff;
      }
      .pre {
        white-space: pre;
      }
      pre {
        color: #fdfdfd;
        margin-bottom: 0px;
        white-space: pre-wrap;
      }
    }
    .logline {
      // border-bottom: 1px solid #0000000f;
      font-size: 12px;
      line-height: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
      // transition: .05s linear;
      .text-dashed {
        transition: none;
      }
      cursor: pointer;
      // background: #3d3e4a;
      &:hover {
        // background: #393a46;
      }
      .line-id {
        font-size: 10px;
        opacity: 0.7;
      }
    }
    .expanded {
      font-size: 14px!important;
      line-height: inherit!important;
    }
  }
  .jumbotron {
  background: none!important;
  // color: #afafaf;
  -webkit-user-select: none;
  hr {
    background: rgba(255, 255, 255, 0.4);
  }
  span {
    width: 100%;
  }
  h6 {
    margin-bottom: 0em;
    font-weight: 700;
  }
  small {
    opacity: 0.7;
    line-height: 10px;
    position: relative;
    bottom: 3px;
  }
  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
      input {
        display:none;
        &:checked + .slider {
          background-color: #66bb6a;
        }
        &:checked + .slider:before {
          transform: translateX(26px);
        }
      }
    }
  input {
    // margin-left: 15px;
  }
  input[type="text"] {
    height: 35px;
    width: 125px;
    border-radius: 5px;
    border: none;
    background: $topper;
    color: $text;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    &:active, &:focus {
      outline: none;
    }
  }
  .slider {
    background-color: $topper;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    &:before {
      background-color: $text;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 26px;
    }
    &.round {
      border-radius: 5px;
      &:before {
        border-radius: 5px;
      }
    }
  }
}
}
