@import "colors";
:host {
  height: 100%;
  hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px !important;
    border-top: 2px solid red !important;
  }
  h4 {
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 100%;
  }
  .set {
    &-main {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex: 1 1 680px;
      box-sizing: border-box;
      &-transitionWrap {
        flex: 1 1 0%;
        height: 100%;
        box-sizing: border-box;
      }
      &-scrollable {
        height: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow: hidden scroll;
        justify-content: flex-start;
      }
      &-container {
        flex: 1 1 auto;
        padding: 60px 40px 80px;
        position: relative;
        max-width: 650px;
        min-width: 460px;
        min-height: 100%;
        box-sizing: border-box;
      }
    }
  }
  .credits {
    margin-bottom: 1.5rem;
    small {
      line-height: 10px !important;
    }
    img {
      height: 20px;
      width: auto;
      margin-left: 15px;
      filter: grayscale(100%) brightness(2.5);
      pointer-events: none;
    }
  }
  .settings {
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    &-sid {
      background: $filetree;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-box-pack: end;
      justify-content: flex-end;
      flex: 1 0 218px;
      overflow: hidden scroll;
      &:hover {
        background: $filetree;
        &::-webkit-scrollbar-thumb {
          background: $dropdown;
        }
      }
      &::-webkit-scrollbar {
        background: $filetree;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $filetree;
      }
      &-side {
        width: 218px;
        display: flex;
        padding-right: 0px;
        padding: 60px 6px 60px 20px;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        &:hover {
          background: $filetree;
          &::-webkit-scrollbar-thumb {
            background: $dropdown;
          }
        }
        &::-webkit-scrollbar {
          background: $mainbg;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $filetree;
        }
        &-navs {
          width: 218px;
          display: flex;
          flex-direction: column;
          flex: 1;
        }
        &-article {
          margin: 8px 10px;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 700;
        }
        button {
          margin-top: 3px;
          width: 100%;
          font-weight: 500;
          &:hover {
            background-color: #ffffff10 !important;
          }
        }
      }
      &-cred {
        margin-top: 1rem;
        font-size: 12px;
        .logo-img {
          position: relative;
          display: inline;
          width: 14px;
          height: 14px;
          top: -2px;
          margin: 0 6px 0 0;
          filter: grayscale(100%) opacity(80%);
        }
      }
      span {
        line-height: normal;
      }
    }
  }
  .playerlog {
    background: #3d3e4a;
  }
  .active {
    background: #ffffff20 !important;
  }
  .styles {
    background: $filetree;
    border-radius: 5px;
    height: 35px;
    color: #fdfdfd;
    &:last-child {
      margin-right: 0px;
    }
    .form-check {
      position: relative;
      top: 5px;
      height: 25px;
      font-size: 14px;
      line-height: 23px;
      border-right: 1px solid #414656;
      padding-right: 15px;
      padding-left: 15px;
      color: #fdfdfd90;
      &:last-child {
        margin-right: 0px;
        border: none;
      }
    }
  }
  .listing-preview {
    pointer-events: none;
    background: $filetree;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    pre {
      color: #fdfdfd;
      margin-bottom: 0px;
      white-space: pre-wrap;
    }
    .legacy {
      font-family: monospace;
      font-size: 14px !important;
      line-height: inherit !important;
      border-bottom: 1px solid #0000000f;
      margin-bottom: 0px;
      margin-top: 0px;
      .legacy-process {
        color: #feffc8;
      }
      .legacy-nickname {
        font-weight: 600;
        color: #76c570;
      }
      .legacy-id {
        color: #92beff;
      }
      .pre {
        white-space: pre;
      }
      pre {
        color: #fdfdfd;
        margin-bottom: 0px;
        white-space: pre-wrap;
      }
    }
    .logline {
      font-size: 12px;
      line-height: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
      .text-dashed {
        transition: none;
      }
      cursor: pointer;
      .line-id {
        font-size: 10px;
        opacity: 0.7;
      }
    }
    .expanded {
      font-size: 14px !important;
      line-height: inherit !important;
    }
  }
}
